html,
body {
  height: 100%;
  background-color: #ffffff;
}

body {
  background-image: url("../../images/pixle-background.jpg");
  background-repeat: repeat-x;
  font-family: IRANSans;
}

button,
.btn {
  border-radius: 2rem;
}

textarea {
  border-radius: 2rem;
}

input,
.form-control {
  border-radius: 2rem;
}

.table td,
.table th {
  padding: .5rem;
}

.rtl {
  direction: rtl;
  text-align: right;
}

#btn {
  color: rgba(255, 255, 255, 0.5);
}

.avatar {
  width: 100%;
  border-radius: 50%;
}

#langbtn {
  color: white;
  text-decoration: none;
}

.userpic {
  float: none;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border: 1px solid #95a5a6;
  border-radius: 50% !important;
}

.userpic a {
  top: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  color: #fff;
  height: 100%;
  font-size: 40px;
  position: absolute;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background: rgba(0, 0, 0, .5);
}

img:hover {
  background: rgba(255, 255, 255, 1);
}

.userpic table {
  width: 100%;
  height: 100%;
  text-align: center;
}

.dropbtn {
  background-color: #007bff;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#btn:hover {
  color: rgba(255, 255, 255, 1);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 7px 0 0;
  border-radius: .25rem;
  left: 0;
  right: auto;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: .25rem;
}

.show {
  display: block;
}

.enInput {
  text-align: left;
  direction: ltr;
}

.table-wrapper {
  overflow-y: auto;
  height: 70vh;
}

@media only screen and (min-width: 776px) {
  .mobileView {
    display: none;
  }

  .desktopView {
    display: "";
  }

  .tableList {
    display: inline-table;
  }

  #overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 50%;
    color: black;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 11;
    padding: 20px;
  }
}

@media only screen and (max-width: 775px) {
  .mobileView {
    display: "";
  }

  .desktopView {
    display: none;
  }

  .tableList {
    display: block;
  }

  #overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 60%;
    color: black;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 11;
    padding: 20px;
  }
}

.icon {
  position: absolute;
  top: 25%;
  z-index: 11;
  cursor: pointer;
  color: red
}

.icon-input {
  padding-right: 2rem;
  padding-left: 2rem;
}

.emptyList {
  color: #856404;
  background-color: #ffeeba;
  text-align: center !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  padding: .75rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, .125);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

#overlayBody {
  display: none;
  height: 90%;
  overflow: auto;
}

#closeOverlay {
  position: absolute;
  bottom: 20px;
  width: 100px;
  color: white;
  background-color: #dc3545;
  border-radius: 2rem;
  z-index: 12;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}