// Fonts
@import "../fonts/IranSans/IranSans";
@import "../../../node_modules/font-awesome/css/font-awesome.css";
// Variables
@import "variables";
// Bootstrap
@import "bootstrap-rtl";
@import "../vendor/vue-forms/scss/vue-forms";
@import "~vue-form-wizard/dist/vue-form-wizard.min.css";

body {
  background: url("/images/pixle-background.jpg") top center repeat-x;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: IRANSans, Helvetica, Arial, sans-serif;
}

// Views
@import "views/login";
@import "views/dashboard";

// Global rules

.rtl {
  direction: rtl;
}

.input-ltr {
  input {
    direction: ltr;
  }
}

.card .card-header {
  background: #fff;
}

.link-unstyled {
  color: inherit !important;
  text-decoration: none !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-hidden {
  overflow: hidden !important;
}

.vue-form-wizard {
  direction: ltr;

  .wizard-footer-left {
    float: right !important;
  }

  .wizard-footer-right {
    float: left !important;
  }
}

.wizard-tab-content {
  direction: rtl;
}