html,body {
  height: 100%;
  background-color: #ffffff;
}
body {
  background-image: url("../../images/pixle-background.jpg");
  background-repeat: repeat-x;
  font-family: IRANSans;
}
a, a:hover {
  text-decoration: none;
}
button,.btn {
  border-radius: 2rem;
}
textarea {
  border-radius: 2rem;
}
input,.form-control {
  border-radius: 2rem;
}
.rtl {
  direction: rtl;
  text-align: right;
}
#btn {
  color: rgba(255, 255, 255, 0.5);
}
.avatar {
  width: 100%;
  border-radius: 50%;
}
#langbtn {
  color: white;
  text-decoration: none;
}
.userpic {
  float: none;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border: 1px solid #95a5a6;
  border-radius: 50% !important;
}
.userpic a {
  top: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  color: #fff;
  height: 100%;
  font-size: 40px;
  position: absolute;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background: rgba(0,0,0,.5);
}
img:hover {
  background: rgba(255, 255, 255, 1);
}
.userpic table {
  width: 100%;
  height: 100%;
  text-align: center;
}
.dropbtn {
  background-color: #007bff;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
#btn:hover {
  color: rgba(255, 255, 255, 1);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 7px 0 0;
  border-radius: .25rem;
  left: 0;
  right: auto;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: .25rem;
}
.show {display:block;}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.enInput {
  text-align: left;
  direction: ltr;
}

#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 20;
}

#overlayBody{
  display: none;
  height: 90%;
  overflow: auto;
}

#closeOverlay{
  position: absolute;
  bottom: 20px;
  width: 100px;
  color: white;
  background-color: #dc3545;
  border-radius: 2rem;
  z-index: 12;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

/* -------------------- Dropdown Checkboxes -------------------- */
.dropdown-checkbox {
  position: relative;
}
.dropdown-checkbox .dropdown-checkbox-list {
  padding: 12px;
  background: #fff;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
  transform-origin: 50% 0;
  transform: scale(1, 0);
  transition: transform 0.15s ease-in-out 0.15s;
  max-height: 410px;
  overflow-y: auto;
  z-index: 4;
}
.dropdown-checkbox .dropdown-checkbox-option {
  display: block;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
}
.dropdown-checkbox .dropdown-checkbox-label {
  display: block;
  height: 30px;
  background: #fff;
  padding: 6px 12px;
  line-height: .7;
  cursor: pointer;
}
.dropdown-checkbox .bg:hover {
  background-color: #eaeaea;
}
.dropdown-checkbox .dropdown-checkbox-label:before {
  content: "▼";
  float: left;
}
.dropdown-checkbox.on .dropdown-checkbox-list {
  transform: scale(1, 1);
  transition-delay: 0s;
}
.dropdown-checkbox.on .dropdown-checkbox-list .dropdown-checkbox-option {
  opacity: 1;
  transition-delay: 0.2s;
}
.dropdown-checkbox.on .dropdown-checkbox-label:before {
  content: "▲";
}
.dropdown-checkbox [type="checkbox"] {
  position: relative;
  top: -1px;
  margin-right: 4px;
  margin-left: 8px;
}
/* ------------------------------------------------------------- */

@media only screen and (min-width: 776px) {
  #overlayContent{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 50%;
    color: black;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-radius: 5px;
    z-index: 11;
    padding: 20px;
  }
}

@media only screen and (max-width: 775px) {
  #overlayContent{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 60%;
    color: black;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-radius: 5px;
    z-index: 11;
    padding: 20px;
  }
}