.avatar[data-v-0463b3f6] {
  width: 5.5rem;
  height: 5.5rem
}

.avatarBorder[data-v-0463b3f6] {
  border-style: solid;
  border-width: medium
}

.container[data-v-0463b3f6] {
  background-color: #dee2e6;
  color: #495057;
  border-radius: 6px;
  padding: .25rem
}