.p-toolbar[data-v-2a8e5f4d] {
  border-radius: 6px 6px 0 0
}

.p-column-header-content[data-v-2a8e5f4d] {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important
}