<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پارسو</title>

    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/Events/style.css" rel="stylesheet">
    <link href="css/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">
    <link href="css/persian-datepicker.min.css" rel="stylesheet"/>
    

    <script src="js/es6-promise.min.js"></script>
    <script src="js/es6-promise.auto.min.js"></script>
    <script src="js/polyfill.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/persian-date.min.js"></script>
    <script src="js/Audits/script.js"></script>
    <script src="js/vue-plain-pagination.umd.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/persian-datepicker.min.js"></script>
    <script src="js/vue-spinners-css.min.js"></script>

</head>
<script type="text/javascript">
    $(document).ready(function() {
      $(".datePickerFa").pDatepicker({
        inline: false,
        format: "LL",
        viewMode: "day",
        initialValue: false,
        initialValueType: "persian",
        autoClose: true,
        position: "auto",
        altFormat: "lll",
        altField: ".alt-field",
        onlyTimePicker: false,
        onlySelectOnDate: true,
        calendarType: "persian",
        inputDelay: 800,
        observer: false,
        calendar: {
            persian: {
            locale: "fa",
            showHint: true,
            leapYearMode: "algorithmic"
            },
            gregorian: {
            locale: "en",
            showHint: true
            }
        },
        navigator: {
            enabled: true,
            scroll: {
            enabled: true
            },
            text: {
            btnNextText: "<",
            btnPrevText: ">"
            }
        },
        toolbox: {
            enabled: true,
            calendarSwitch: {
            enabled: true,
            format: "MMMM"
            },
            todayButton: {
            enabled: true,
            text: {
                fa: "امروز",
                en: "Today"
            }
            },
            submitButton: {
            enabled: true,
            text: {
                fa: "تایید",
                en: "Submit"
            }
            },
            text: {
            btnToday: "امروز"
            }
        },
        timePicker: {
            enabled: false,
            step: 1,
            hour: {
            enabled: false,
            step: null
            },
            minute: {
            enabled: false,
            step: null
            },
            second: {
            enabled: false,
            step: null
            },
            meridian: {
            enabled: false
            }
        },
        dayPicker: {
            enabled: true,
            titleFormat: "YYYY MMMM"
        },
        monthPicker: {
            enabled: true,
            titleFormat: "YYYY"
        },
        yearPicker: {
            enabled: true,
            titleFormat: "YYYY"
        },
        responsive: true
        });
    });
</script>
<body class="h-100">
    <div id="app">
        <div id="overlay">
            <div id="overlayContent" v-bind:class="{rtl: isRtl}">
                <div id="overlayBody">
                    <div class="form-group">
                        <div class="row mt-3 mb-5 ml-0 mr-0">
                            <button v-on:click="openMeeting" class="btn btn-primary col-12">{{enterMeetingText}}</button>
                        </div><br>
                        <p>{{inviteToMeetingText}}</p>
                        <div class="row ml-0 mr-0">
                            <input id="copyMeetingLink" v-model:value="meetingGuestLink" type="text" class="form-control col-10" v-bind:style="meetingInviteLinkStyle" readonly>
                            <button id="copyMeetingLinkBtn" v-bind:style="meetingInviteLinkCopyStyle"
                                    v-on:click="copyMeetingLink" class="btn btn-sm btn-success col-2">{{copyText}}</button>
                        </div>
                    </div>
                </div>
                <div id="closeOverlay" class="btn btn-danger" v-on:click="closeOverlay">{{returnText}}</div>
            </div>
        </div>
        <div v-bind:class="{rtl: isRtl}" class=" h-100">
            <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
                <div class="container">
                    <div class="dropdown">
                        <a class="navbar-brand" href="./">{{s0}}</a>
                        <a v-bind:style="margin"><small style="color: #FFFFFF;">{{dateNavText}}</small></a>
                    </div>
                    <div class="dropdown">
                        <a id="btn" class="dropbtn" v-on:click="dropdownNavbar">
                            {{s1}}
                            <span class="fa fa-caret-down ml-1 mr-1"></span>
                        </a>
                        <div id="dropdownMenu" class="dropdown-content">
                            <a href="./logout">{{s2}}</a>
                        </div>
                        <a id="langbtn" href="#"  v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="card-body p-0 pt-3">
                                <form id="upload-form" method="POST" action="/api/user/photo" accept-charset="UTF-8" role="form" class="d-none" enctype="multipart/form-data">
                                    <input type="file" id="upload-image" name="file" onchange="document.getElementById('upload-form').submit()">
                                </form>
                                <div class="userpic mb-3">
                                    <img v-bind:src="userPicture" class="img-responsive avatar" alt="Avatar">
                                    <a href="javascript:void(0)" onclick="document.getElementById('upload-image').click()"><!--  -->
                                        <table>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-photo"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>

                                <div class="text-center mb-3">
                                    <div>
                                        <strong>{{s1}}</strong>
                                    </div>
                                    <div class="text-primary">
                                        <small>{{username}}</small>
                                    </div>
                                </div>

                                <div class="text-center mb-3">
                                    <a href="./logout" class="btn btn-danger btn-sm">
                                        <i class="fa fa-power-off"></i>&nbsp;
                                        {{s2}}
                                    </a>
                                </div>

                                <div v-if="showMeeting" class="text-center mb-3 mt-3" v-on:click="openOverlay">
                                    <a href="#" style="width: 100%;border-radius: 0;" class="btn btn-success">
                                        <i class="fa fa-video-camera fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{meetingText}}</span>
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action py-2"
                                    v-bind:href="s14">
                                        <i class="fa fa-dashboard fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s3}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2"
                                    v-bind:href="s15">
                                        <i class="fa fa-server fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s4}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2"
                                    v-bind:href="s16">
                                        <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s13}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2"
                                    v-bind:href="s21">
                                        <i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s5}}</span>
                                    </a>
                                    <a sec:authorize="hasRole('SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="rolesURLText">
                                        <i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{rolesText}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                       v-bind:href="publicmessagesURLText">
                                        <i class="fa fa-bell fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{publicmessagesText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                       v-bind:href="ticketingURLText">
                                        <i class="fa fa-ticket fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{ticketingText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2"
                                    v-bind:href="s36">
                                        <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s6}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2"
                                    style="color: #fff; background-color: #007bff; border-color: #007bff;"
                                    v-bind:href="s46">
                                        <i class="fa fa-history fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s45}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2"
                                       v-bind:href="reportsURLText">
                                        <i class="fa fa-file fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{reportsText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2"
                                    v-bind:href="s22">
                                        <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s7}}</span>
                                    </a>
                                    <a sec:authorize="hasRole('SUPERADMIN')" class="list-group-item list-group-item-action py-2"
                                    v-bind:href="s25">
                                        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s24}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 page-content">
                        <div class="card">
                            <div class="card-body pb-0 pl-0 pr-0" style="background-color: #f8f9fa!important;">
                                <div class="container">
                                    <div class="ml-0 mr-0">
                                        <h3 class="border-bottom pb-2">{{s45}}</h3>
                                    </div>
                                    <div class="container mb-5 mr-0 ml-0 pr-0 pl-0" style="background-color: white; font-size: 15px;">
                                        <div id="auditMore" style="display: none;">
                                            <div class="form-group">
                                                <label>{{s19}}</label>
                                                <textarea v-bind:value="auditMore" rows="5" type="text" class="form-control enInput" readonly>
                                                </textarea>
                                            </div>
                                            <button v-on:click="showList()" class="btn btn-danger">{{s47}}</button>
                                        </div>
                                        <div id="auditList">
                                            <div sec:authorize="hasAnyRole('USER', 'PRESENTER')" style="font-size: 15px;">
                                                <div class="row justify-content-center">
                                                    <div class="col-2"></div>
                                                    <div class="col-5">
                                                        <input id="auditDate" type="text" :placeholder="s26" class="datePickerFa form-control icon-input">
                                                        <i class="fa fa-times icon" v-bind:style="deleteInputIcon" v-on:click="removeAuditDate()"></i>
                                                    </div>
                                                    <div class="col-3">
                                                        <button class="btn btn-primary btn-sm w-100 h-100" v-on:click="getAuditDate()">{{s27}}</button>
                                                    </div>
                                                    <div class="col-2"></div>
                                                </div>
                                                <div class="pb-2 pr-2 pl-2 pt-4" style="direction: rtl;">
                                                    <v-pagination v-model="currentPageAudit" :page-count="totalAudit" :classes="bootstrapPaginationClasses"
                                                    :labels="paginationAnchorTexts"></v-pagination>
                                                </div>
                                                <div style="overflow: auto;">
                                                    <div class="table-wrapper">
                                                        <div v-if="isListEmpty" class="emptyList">
                                                            <div>
                                                                <i class="fa fa-signing fa-2x"></i>
                                                            </div> 
                                                            <div>
                                                                <span>{{s48}}</span>
                                                            </div>
                                                        </div>
                                                        <div v-else>
                                                            <table class="tableList table table-responsive p-2 text-center">
                                                                <tr>
                                                                    <th>{{s28}}</th>
                                                                    <th>{{s29}}</th>
                                                                    <th>Client IP</th>
                                                                    <th>{{s38}}</th>
                                                                    <th>{{s30}}</th>
                                                                    <th></th>
                                                                </tr>
                                                                <tbody id="body">
                                                                    <tr v-for="eve in sortedAudit" >
                                                                        <td>{{eve.actionPerformed}}</td>
                                                                        <td>{{eve.applicationCode}}</td>
                                                                        <td>{{eve.clientIpAddress}}</td>
                                                                        <td>{{eve.date}}</td>
                                                                        <td>{{eve.clock}}</td>
                                                                        <td><button class="btn btn-primary btn-sm" v-on:click="showMore(eve.resourceOperatedUpon)">{{s19}}</button></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-2" style="direction: rtl;">
                                                    <v-pagination v-model="currentPageAudit" :page-count="totalAudit" :classes="bootstrapPaginationClasses"
                                                    :labels="paginationAnchorTexts"></v-pagination>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-8"></div>
                                                    <div class="col-2 pr-0 pl-0 d-flex align-items-center justify-content-center">
                                                        <label style="display: contents;">{{s44}}</label>
                                                    </div>
                                                    <div class="col-2 pr-2 pl-3">
                                                        <select class="form-control" v-on:change="changeRecordsAudit($event)">
                                                            <option value="20" selected>20</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                            <option value="300">300</option>
                                                            <option value="500">500</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" style="font-size: 15px;">
                                                <ul class="nav nav-tabs nav-justified">
                                                    <li class="nav-item">
                                                        <a class="nav-link" @click.prevent="setActive('myAudits')" :class="{ active: isActive('myAudits') }" href="#myAudits">{{s31}}</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" @click.prevent="setActive('usersAudits')" :class="{ active: isActive('usersAudits') }" href="#usersAudits">{{s32}}</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content py-3" id="myTabContent" style="background-color: white;">
                                                    <div class="tab-pane fade" :class="{ 'active show': isActive('usersAudits') }" id="usersAudits">
                                                        <div class="row justify-content-center">
                                                            <div class="col-4">
                                                                <input v-model="auditsUserId" type="text" :placeholder="s33" class="form-control icon-input">
                                                                <i class="fa fa-times icon" v-bind:style="deleteInputIcon1" v-on:click="removeAuditsUserId()"></i>
                                                            </div>
                                                            <div class="col-2">
                                                                <button class="btn btn-primary btn-sm w-100 h-100" v-on:click="getAuditsUserId()">{{s27}}</button>
                                                            </div>
                                                            <div class="col-4">
                                                                <input id="auditsDate" type="text" :placeholder="s26" class="datePickerFa form-control icon-input">
                                                                <i class="fa fa-times icon" v-bind:style="deleteInputIcon1" v-on:click="removeAuditsDate()"></i>
                                                            </div>
                                                            <div class="col-2">
                                                                <button class="btn btn-primary btn-sm w-100 h-100" v-on:click="getAuditsDate()">{{s27}}</button>
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center mt-3">
                                                            <div class="col-10"></div>
                                                            <div class="col-2">
                                                                <div v-if="loader">
                                                                    <roller-loader color="#007bff"/>
                                                                </div>
                                                                <button v-else class="btn btn-primary btn-sm w-100 h-100" v-on:click="exportAudits()">
                                                                    <span class="fa-stack">
                                                                        <i class="fa fa-upload fa-stack-1x"></i>
                                                                    </span>
                                                                    Export
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="p-2" style="direction: rtl;">
                                                            <v-pagination  v-model="currentPageAudits" :page-count="totalAudits" :classes="bootstrapPaginationClasses"
                                                            :labels="paginationAnchorTexts"></v-pagination>
                                                        </div>
                                                        <div style="overflow: auto;">
                                                            <div class="table-wrapper">
                                                                <div v-if="isListEmpty1" class="emptyList">
                                                                    <div>
                                                                        <i class="fa fa-signing fa-2x"></i>
                                                                    </div> 
                                                                    <div>
                                                                        <span>{{s48}}</span>
                                                                    </div>
                                                                </div>
                                                                <div v-else>
                                                                    <table class="tableList table table-responsive p-2 text-center">
                                                                        <tr>
                                                                            <th>{{s28}}</th>
                                                                            <th>{{s37}}</th>
                                                                            <th>{{s29}}</th>
                                                                            <th>Client IP</th>
                                                                            <th>Server IP</th>
                                                                            <th>{{s38}}</th>
                                                                            <th>{{s30}}</th>
                                                                            <th></th>
                                                                        </tr>
                                                                        <tbody id="body" style="font-size: .8rem;">
                                                                            <tr v-for="event in sortedAudits">
                                                                                <td>{{event.actionPerformed}}</td>
                                                                                <td>{{event.principal}}</td>
                                                                                <td>{{event.applicationCode}}</td>
                                                                                <td>{{event.clientIpAddress}}</td>
                                                                                <td>{{event.serverIpAddress}}</td>
                                                                                <td>{{event.date}}</td>
                                                                                <td>{{event.clock}}</td>
                                                                                <td><button class="btn btn-primary btn-sm" v-on:click="showMore(event.resourceOperatedUpon)">{{s19}}</button></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="p-2" style="direction: rtl;">
                                                            <v-pagination  v-model="currentPageAudits" :page-count="totalAudits" :classes="bootstrapPaginationClasses"
                                                            :labels="paginationAnchorTexts"></v-pagination>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-8"></div>
                                                            <div class="col-2 pr-0 pl-0 d-flex align-items-center justify-content-center">
                                                                <label style="display: contents;">{{s44}}</label>
                                                            </div>
                                                            <div class="col-2 pr-2 pl-3">
                                                                <select class="form-control" v-on:change="changeRecordsAudits($event)">
                                                                    <option value="20" selected>20</option>
                                                                    <option value="50">50</option>
                                                                    <option value="100">100</option>
                                                                    <option value="300">300</option>
                                                                    <option value="500">500</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" :class="{ 'active show': isActive('myAudits') }" id="myAudits">
                                                        <div class="row justify-content-center">
                                                            <div class="col-2"></div>
                                                            <div class="col-5">
                                                                <input id="auditDate" type="text" :placeholder="s26" class="datePickerFa form-control icon-input">
                                                                <i class="fa fa-times icon" v-bind:style="deleteInputIcon" v-on:click="removeAuditDate()"></i>
                                                            </div>
                                                            <div class="col-3">
                                                                <button class="btn btn-primary btn-sm w-100 h-100" v-on:click="getAuditDate()">{{s27}}</button>
                                                            </div>
                                                            <div class="col-2"></div>
                                                        </div>
                                                        <div class="pb-2 pr-2 pl-2 pt-4" style="direction: rtl;">
                                                            <v-pagination v-model="currentPageAudit" :page-count="totalAudit" :classes="bootstrapPaginationClasses"
                                                            :labels="paginationAnchorTexts"></v-pagination>
                                                        </div>
                                                        <div style="overflow: auto;">
                                                            <div class="table-wrapper">
                                                                <div v-if="isListEmpty" class="emptyList">
                                                                    <div>
                                                                        <i class="fa fa-signing fa-2x"></i>
                                                                    </div> 
                                                                    <div>
                                                                        <span>{{s48}}</span>
                                                                    </div>
                                                                </div>
                                                                <div v-else>
                                                                    <table class="tableList table table-responsive p-2 text-center">
                                                                        <tr>
                                                                            <th>{{s28}}</th>
                                                                            <th>{{s29}}</th>
                                                                            <th>Client IP</th>
                                                                            <th>{{s38}}</th>
                                                                            <th>{{s30}}</th>
                                                                            <th></th>
                                                                        </tr>
                                                                        <tbody id="body">
                                                                            <tr v-for="eve in sortedAudit">
                                                                                <td>{{eve.actionPerformed}}</td>
                                                                                <td>{{eve.applicationCode}}</td>
                                                                                <td>{{eve.clientIpAddress}}</td>
                                                                                <td>{{eve.date}}</td>
                                                                                <td>{{eve.clock}}</td>
                                                                                <td><button class="btn btn-primary btn-sm" v-on:click="showMore(eve.resourceOperatedUpon)">{{s19}}</button></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pb-2 pr-2 pl-2 pt-4" style="direction: rtl;">
                                                            <v-pagination v-model="currentPageAudit" :page-count="totalAudit" :classes="bootstrapPaginationClasses"
                                                            :labels="paginationAnchorTexts"></v-pagination>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-8"></div>
                                                            <div class="col-2 pr-0 pl-0 d-flex align-items-center justify-content-center">
                                                                <label style="display: contents;">{{s44}}</label>
                                                            </div>
                                                            <div class="col-2 pr-2 pl-3">
                                                                <select class="form-control" v-on:change="changeRecordsAudit($event)">
                                                                    <option value="20" selected>20</option>
                                                                    <option value="50">50</option>
                                                                    <option value="100">100</option>
                                                                    <option value="300">300</option>
                                                                    <option value="500">500</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mb-3 mt-4">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{s10}}</a>
                        <a v-bind:href="s23" class="btn btn-link" style="text-decoration: none;">{{s11}}</a>
                        <a href="public/Parsso-User-Guide.pdf" class="btn btn-link" style="text-decoration: none;">{{s12}}</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
