<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پارسو</title>

    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/Events/style.css" rel="stylesheet">
    <link href="css/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">
    

    <script src="js/es6-promise.min.js"></script>
    <script src="js/es6-promise.auto.min.js"></script>
    <script src="js/polyfill.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/Audits/script.js"></script>
    <script src="js/vue-plain-pagination.umd.min.js"></script>
    <script src="js/vue-spinners-css.min.js"></script>

</head>

<body class="h-100">
    <div id="app">
        <div v-bind:class="{rtl: isRtl}" class=" h-100">
                <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
                    <div class="container">
                        <a class="navbar-brand" href="./">{{s0}}</a>
                        <div class="dropdown">
                            <a id="btn" onclick="myFunction()" class="dropbtn"> {{s1}} <span class="fa fa-caret-down"></span></a>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="./logout">{{s2}}</a>
                            </div>
                            <a id="langbtn" href="#"  v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                        </div>
                    </div>
                </nav>
                <div class="container">
                <div class="row">
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="card-body p-0 pt-3">
                                <form id="upload-form" method="POST" action="/api/user/photo" accept-charset="UTF-8" role="form" class="d-none" enctype="multipart/form-data">
                                    <input type="file" id="upload-image" name="file" onchange="document.getElementById('upload-form').submit()">
                                </form>
                                <div class="userpic mb-3">
                                    <img v-bind:src="userPicture" class="img-responsive avatar" alt="Avatar">
                                    <a href="javascript:void(0)" onclick="document.getElementById('upload-image').click()"><!--  -->
                                        <table>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-photo"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>

                                <div class="text-center mb-3">
                                    <div>
                                        <strong>{{s1}}</strong>
                                    </div>
                                    <div class="text-primary">
                                        <small>{{username}}</small>
                                    </div>
                                </div>

                                <div class="text-center mb-3">
                                    <a href="./logout" class="btn btn-danger btn-sm">
                                        <i class="fa fa-power-off"></i>
                                        {{s2}}
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s14">
                                        <i class="fa fa-dashboard"></i>
                                        <span>{{s3}}</span>
                                    </a>
                                    <a v-if="menuS" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s15">
                                        <i class="fa fa-server"></i>
                                        <span>{{s4}}</span>
                                    </a>
                                    <a v-if="menuS" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s16">
                                        <i class="fa fa-user"></i>
                                        <span>{{s13}}</span>
                                    </a>
                                    <a v-if="menuS" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s21">
                                        <i class="fa fa-users"></i>
                                        <span>{{s5}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s36">
                                        <i class="fa fa-calendar"></i>
                                        <span>{{s6}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    style="color: #fff; background-color: #007bff; border-color: #007bff;"
                                    v-bind:href="s46">
                                        <i class="fa fa-history"></i>
                                        <span>{{s45}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s22">
                                        <i class="fa fa-cogs"></i>
                                        <span>{{s7}}</span>
                                    </a>
                                    <a v-if="menuSA" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s25">
                                        <i class="fa fa-cog"></i>
                                        <span>{{s24}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 page-content">
                        <div class="card">
                            <div class="card-body" style="background-color: #f8f9fa!important;">
                                <h3 class="border-bottom pb-3 mb-3"><span>{{s45}}</span></h3>

                                <div id="auditMore" style="display: none;">
                                    <div class="form-group">
                                        <label>{{s19}}</label>
                                        <textarea v-bind:value="auditMore" rows="5" type="text" class="form-control enInput" readonly>
                                        </textarea>
                                    </div>
                                    <button v-on:click="showList()" class="btn btn-danger">{{s47}}</button>
                                </div>
                                
                                <div id="auditList">
                                    <div v-if="!menuS" style="font-size: 15px;">
                                        <ul class="nav nav-tabs nav-justified">
                                            <li class="nav-item" style="margin: 0.25rem;">
                                                <p style="display: inline-block;">{{s26}}</p>
                                                <input v-model="tempAuditDate" type="text" :placeholder="s35" style="direction: ltr; display: inline-block;">
                                                <button class="btn btn-primary btn-sm" v-on:click="getAuditDate()" style="display: inline-block;">{{s27}}</button>
                                            </li>
                                        </ul>
                                        <table class="table table-responsive">
                                            <tr>
                                                <th>{{s28}}</th>
                                                <th>{{s29}}</th>
                                                <th>Client IP</th>
                                                <th>{{s38}}</th>
                                                <th>{{s30}}</th>
                                                <th></th>
                                            </tr>
                                            <tbody id="body">
                                                <tr v-for="eve in sortedAudit" >
                                                    <td>{{eve.actionPerformed}}</td>
                                                    <td>{{eve.applicationCode}}</td>
                                                    <td>{{eve.clientIpAddress}}</td>
                                                    <td>{{eve.date}}</td>
                                                    <td>{{eve.clock}}</td>
                                                    <td><button class="btn btn-primary btn-sm" v-on:click="showMore(eve.resourceOperatedUpon)">{{s19}}</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="direction: rtl;">
                                            <v-pagination v-model="currentPageAudit" :page-count="totalAudit" :classes="bootstrapPaginationClasses"
                                            :labels="paginationAnchorTexts"></v-pagination>
                                        </div>
                                        <div class="row mt-3" style="text-align: center;">
                                            <div class="col-8"></div>
                                            <div class="col-2 pr-0 pl-0">
                                                <label>{{s44}}</label>
                                            </div>
                                            <div class="col-2 pr-2 pl-3">
                                                <select class="form-control" v-on:change="changeRecordsAudit($event)">
                                                    <option value="20" selected>20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div v-if="menuS" style="font-size: 15px;">
                                        <ul class="nav nav-tabs nav-justified">
                                            <li class="nav-item">
                                                <a class="nav-link" v-on:click="setActive('myAudits')" :class="{ active: isActive('myAudits') }" href="#myAudits">{{s31}}</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" v-on:click="setActive('usersAudits')" :class="{ active: isActive('usersAudits') }" href="#usersAudits">{{s32}}</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content py-3" id="myTabContent" style="background-color: white;">
                                            <div class="tab-pane fade" :class="{ 'active show': isActive('usersAudits') }" id="usersAudits">
                                                <ul class="nav nav-tabs nav-justified">
                                                    <li class="nav-item" style="margin: 0.25rem;">
                                                        <p style="display: inline-block;">{{s33}}</p>
                                                        <input v-model="auditsUserId" type="text" :placeholder="s34" style="direction: ltr; display: inline-block;">
                                                        <button class="btn btn-primary btn-sm" v-on:click="getAuditsUserId()" style="display: inline-block;">{{s27}}</button>
                                                    </li>
                                                    <li class="nav-item" style="margin: 0.25rem;">
                                                        <p style="display: inline-block;">{{s26}}</p>
                                                        <input v-model="tempAuditsDate" type="text" :placeholder="s35" style="direction: ltr; display: inline-block;">
                                                        <button class="btn btn-primary btn-sm" v-on:click="getAuditsDate()" style="display: inline-block;">{{s27}}</button>
                                                    </li>
                                                    <li class="nav-item" style="margin: 0.25rem;">
                                                        <div v-if="loader">
                                                            <roller-loader color="#007bff"/>
                                                        </div>
                                                        <button v-else class="btn btn-primary btn-sm" v-on:click="exportAudits()">
                                                            <span class="fa-stack">
                                                                <i class="fa fa-upload fa-stack-1x"></i>
                                                            </span>
                                                            Export
                                                        </button>
                                                    </li>
                                                </ul>
                                                <table class="table table-responsive">
                                                    <tr>
                                                        <th>{{s28}}</th>
                                                        <th>{{s37}}</th>
                                                        <th>{{s29}}</th>
                                                        <th>Client IP</th>
                                                        <th>Server IP</th>
                                                        <th>{{s38}}</th>
                                                        <th>{{s30}}</th>
                                                        <th></th>
                                                    </tr>
                                                    <tbody id="body" style="font-size: .8rem;">
                                                        <tr v-for="event in sortedAudits">
                                                            <td>{{event.actionPerformed}}</td>
                                                            <td>{{event.principal}}</td>
                                                            <td>{{event.applicationCode}}</td>
                                                            <td>{{event.clientIpAddress}}</td>
                                                            <td>{{event.serverIpAddress}}</td>
                                                            <td>{{event.date}}</td>
                                                            <td>{{event.clock}}</td>
                                                            <td><button class="btn btn-primary btn-sm" v-on:click="showMore(event.resourceOperatedUpon)">{{s19}}</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="direction: rtl;">
                                                    <v-pagination  v-model="currentPageAudits" :page-count="totalAudits" :classes="bootstrapPaginationClasses"
                                                    :labels="paginationAnchorTexts"></v-pagination>
                                                </div>
                                                <div class="row mt-3" style="text-align: center;">
                                                    <div class="col-8"></div>
                                                    <div class="col-2 pr-0 pl-0">
                                                        <label>{{s44}}</label>
                                                    </div>
                                                    <div class="col-2 pr-2 pl-3">
                                                        <select class="form-control" v-on:change="changeRecordsAudits($event)">
                                                            <option value="20" selected>20</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" :class="{ 'active show': isActive('myAudits') }" id="myAudits">
                                                <ul class="nav nav-tabs nav-justified">
                                                    <li class="nav-item" style="margin: 0.25rem;">
                                                        <p style="display: inline-block;">{{s26}}</p>
                                                        <input v-model="tempAuditDate" type="text" :placeholder="s35" style="direction: ltr; display: inline-block;">
                                                        <button class="btn btn-primary btn-sm" v-on:click="getAuditDate()" style="display: inline-block;">{{s27}}</button>
                                                    </li>
                                                </ul>
                                                <table class="table table-responsive">
                                                    <tr>
                                                        <th>{{s28}}</th>
                                                        <th>{{s29}}</th>
                                                        <th>Client IP</th>
                                                        <th>{{s38}}</th>
                                                        <th>{{s30}}</th>
                                                        <th></th>
                                                    </tr>
                                                    <tbody id="body">
                                                        <tr v-for="eve in sortedAudit" >
                                                            <td>{{eve.actionPerformed}}</td>
                                                            <td>{{eve.applicationCode}}</td>
                                                            <td>{{eve.clientIpAddress}}</td>
                                                            <td>{{eve.date}}</td>
                                                            <td>{{eve.clock}}</td>
                                                            <td><button class="btn btn-primary btn-sm" v-on:click="showMore(eve.resourceOperatedUpon)">{{s19}}</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="direction: rtl;">
                                                    <v-pagination v-model="currentPageAudit" :page-count="totalAudit" :classes="bootstrapPaginationClasses"
                                                    :labels="paginationAnchorTexts"></v-pagination>
                                                </div>
                                                <div class="row mt-3" style="text-align: center;">
                                                    <div class="col-8"></div>
                                                    <div class="col-2 pr-0 pl-0">
                                                        <label>{{s44}}</label>
                                                    </div>
                                                    <div class="col-2 pr-2 pl-3">
                                                        <select class="form-control" v-on:change="changeRecordsAudit($event)">
                                                            <option value="20" selected>20</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mb-3 mt-4">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{s10}}</a>
                        <a v-bind:href="s23" class="btn btn-link" style="text-decoration: none;">{{s11}}</a>
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{s12}}</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    
</body>
</html>
