<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>پارسو</title>
    
    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">
    <link href="css/Users/style.css" rel="stylesheet">

    <script src="js/es6-promise.min.js"></script>
    <script src="js/es6-promise.auto.min.js"></script>
    <script src="js/polyfill.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/persian-date.min.js"></script>
    <script src="js/Login/script.js"></script>
</head>
<body class="h-100">
    <div id="app">
        <div v-bind:class="{rtl: isRtl}" class=" h-100">
            <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
                <div class="container">
                    <div class="dropdown">
                        <a class="navbar-brand" href="./">{{s0}}</a>
                        <a v-bind:style="margin"><small style="color: #FFFFFF;">{{dateNavText}}</small></a>
                    </div>
                    <div class="dropdown">
                        <a id="langbtn" href="#" v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-9 page-content">
                        <div class="card">
                            <div class="card-body pb-0">
                                <h2 class="error mb-4" style="color: #c29d0a; border: 1px solid #99882a;">
                                    {{s21}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="mb-3 mt-4">
            <div class="container">
            </div>
        </footer>
    </div>
    </body>
</html>