<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پارسو</title>

    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/Dashboard/style.css" rel="stylesheet">
    <link href="css/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">


    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/Configs/script.js"></script>

</head>
<body class="h-100">
    <div id="app">
        <div  v-bind:class="{rtl: isRtl}" class=" h-100">
                <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
                    <div class="container">
                        <a class="navbar-brand" href="./">{{s0}}</a>
                        <div class="dropdown">
                            <a id="btn" onclick="myFunction()" class="dropbtn"> {{s1}} <span class="fa fa-caret-down"></span></a>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="./logout">{{s2}}</a>
                            </div>
                            <a id="langbtn" href="#"  v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                        </div>
                    </div>
                </nav>
                <div class="container">
                <div class="row">
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="card-body p-0 pt-3">
                                <form id="upload-form" method="POST" action="/api/user/photo" accept-charset="UTF-8" role="form" class="d-none" enctype="multipart/form-data">
                                    <input type="file" id="upload-image" name="file" onchange="document.getElementById('upload-form').submit()">
                                </form>
                                <div class="userpic mb-3">
                                    <img v-bind:src="userPicture" class="img-responsive avatar" alt="Avatar">
                                    <a href="javascript:void(0)" onclick="document.getElementById('upload-image').click()"><!--  -->
                                        <table>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-photo"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>

                                <div class="text-center mb-3">
                                    <div>
                                        <strong>{{s1}}</strong>
                                    </div>
                                    <div class="text-primary">
                                        <small>{{username}}</small>
                                    </div>
                                </div>

                                <div class="text-center mb-3">
                                    <a href="./logout" class="btn btn-danger btn-sm">
                                        <i class="fa fa-power-off"></i>
                                        {{s2}}
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s14">
                                        <i class="fa fa-dashboard"></i>
                                        <span>{{s3}}</span>
                                    </a>
                                    <a v-if="menuS" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s15">
                                        <i class="fa fa-server"></i>
                                        <span>{{s4}}</span>
                                    </a>
                                    <a v-if="menuS" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s16">
                                        <i class="fa fa-user"></i>
                                        <span>{{s13}}</span>
                                    </a>
                                    <a v-if="menuS" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s21">
                                        <i class="fa fa-users"></i>
                                        <span>{{s5}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s27">
                                        <i class="fa fa-calendar"></i>
                                        <span>{{s6}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s22">
                                        <i class="fa fa-cogs"></i>
                                        <span>{{s7}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s25">
                                        <i class="fa fa-cog"></i>
                                        <span>{{s24}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 page-content">
                        <div class="card">
                            <div class="card-body" style="background-color: #f8f9fa!important;">
                                <h3 class="border-bottom pb-3 mb-3"><span>{{s24}}</span></h3>
                                <ul class="nav nav-tabs nav-justified" style="font-size: 15px;">
                                    <li class="nav-item" v-for="groups in configsGroupNames" v-bind:key="groups">
                                        <a class="nav-link" @click.prevent="setActive(groups)" :class="{ active: isActive(groups) }" v-bind:href="'#'+ groups"><p style="font-size: 15px;">{{groups}}</p></a>
                                    </li>
                                </ul>
                                <div class="tab-content py-3" id="myTabContent" style="background-color: white; padding: 2%; font-size: 15px; direction: rtl;">
                                    <div class="tab-pane fade" v-for="groups in configsGroupNames" v-bind:key="groups" :class="{ 'active show': isActive(groups) }" v-bind:id="groups">
                                        <div v-for="description in configsDescription" v-if="groupSearchDescription(groups,description)">
                                            <h5 class="border-bottom pb-1 pt-1 mb-3 mt-5 config-head"><span>{{description}}</span></h5>
                                            <div v-for="config in configsList" v-bind:key="config" class="form-group" v-if="config.description === description">
                                                <table class="table">
                                                    <tbody id="body">
                                                        <tr>
                                                            <td>
                                                                <input class="form-control" type="text" v-model="config.value" style="direction: ltr;">
                                                            </td>
                                                            <td>
                                                                <p style="text-align: center; margin-top: 4%;">{{config.name}}</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <button v-on:click="editConfigs()" class="btn btn-primary">{{s26}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mb-3 mt-4">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{s10}}</a>
                        <a v-bind:href="s23" class="btn btn-link" style="text-decoration: none;">{{s11}}</a>
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{s12}}</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
