<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پارسو</title>

    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/Dashboard/style.css" rel="stylesheet">
    <link href="css/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">


    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/Dashboard/script.js"></script>

</head>
<body class="h-100">
    <div id="app">
        <div  v-bind:class="{rtl: isRtl}" class=" h-100">
                <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
                    <div class="container">
                        <a class="navbar-brand" href="./">{{s0}}</a>
                        <div class="dropdown">
                            <a id="btn" onclick="myFunction()" class="dropbtn"> {{s1}} <span class="fa fa-caret-down"></span></a>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="./logout">{{s2}}</a>
                            </div>
                            <a id="langbtn" href="#"  v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                        </div>
                    </div>
                </nav>
                <div class="container">
                <div class="row">
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="card-body p-0 pt-3">
                                <form id="upload-form" method="POST" action="/api/users/import" accept-charset="UTF-8" role="form" class="d-none" enctype="multipart/form-data">
                                    <input type="file" id="upload-image" name="upload-image" onchange="document.getElementById('upload-form').submit()">
                                </form>
                                <div class="userpic mb-3">
                                    <img v-bind:src="userPicture" class="img-responsive avatar" alt="Avatar">
                                    <a href="javascript:void(0)" onclick="document.getElementById('upload-image').click()"><!--  -->
                                        <table>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-photo"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>

                                <div class="text-center mb-3">
                                    <div>
                                        <strong>{{s1}}</strong>
                                    </div>
                                    <div class="text-primary">
                                        <small>{{username}}</small>
                                    </div>
                                </div>

                                <div class="text-center mb-3">
                                    <a href="./logout" class="btn btn-danger btn-sm">
                                        <i class="fa fa-power-off"></i>
                                        {{s2}}
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s14">
                                        <i class="fa fa-dashboard"></i>
                                        <span>{{s3}}</span>
                                    </a>
                                    <a v-if="menuS" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s15">
                                        <i class="fa fa-server"></i>
                                        <span>{{s4}}</span>
                                    </a>
                                    <a v-if="menuS" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s16">
                                        <i class="fa fa-user"></i>
                                        <span>{{s13}}</span>
                                    </a>
                                    <a v-if="menuS" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s21">
                                        <i class="fa fa-users"></i>
                                        <span>{{s5}}</span>
                                    </a>
                                    <!-- <a class="list-group-item list-group-item-action py-2 "
                                    href="#">
                                        <i class="fa fa-calendar"></i>
                                        <span>{{s6}}</span>
                                    </a> -->

                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s22">
                                        <i class="fa fa-cogs"></i>
                                        <span>{{s7}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 page-content">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="border-bottom pb-3 mb-3"><span>{{s3}}</span></h3>
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link" @click.prevent="setActive('services')" :class="{ active: isActive('services') }" href="#services">{{s4}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" @click.prevent="setActive('groups')" :class="{ active: isActive('groups') }" href="#groups">{{s5}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content py-3" id="myTabContent">
                                    <div class="tab-pane fade" :class="{ 'active show': isActive('services') }" id="services">
                                        <table class="table">
                                            <tr>
                                                <th>{{s17}}</th>
                                                <th>{{s18}}</th>
                                            </tr>
                                            <tbody id="body">
                                                <tr v-for="service in services" v-bind:key="service.id">
                                                    <td>{{service.id}}</td>
                                                    <td>{{service.name}}</td>
                                                    <td><button class="btn btn-success" v-on:click="connect(service.accessStrategy.endpointUrl)">{{s20}}</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" :class="{ 'active show': isActive('groups') }" id="groups">
                                        <table class="table">
                                            <tr>
                                                <th>{{s17}}</th>
                                                <th>{{s18}}</th>
                                                <th>{{s19}}</th>
                                            </tr>
                                            <tbody id="body">
                                                <tr v-for="group in groups" v-bind:key="group.id">
                                                    <td>{{group.id}}</td>
                                                    <td>{{group.name}}</td>
                                                    <td>{{group.description}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mb-3 mt-4">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{s10}}</a>
                        <a v-bind:href="s23" class="btn btn-link" style="text-decoration: none;">{{s11}}</a>
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{s12}}</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
