<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پارسو</title>

    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/Dashboard/style.css" rel="stylesheet">
    <link href="css/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">
    <link href="css/vcdonut.css" rel="stylesheet">

    
    <script src="js/es6-promise.min.js"></script>
    <script src="js/es6-promise.auto.min.js"></script>
    <script src="js/polyfill.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/persian-date.min.js"></script>
    <script src="js/Dashboard/script.js"></script>
    <script src="js/vcdonut.umd.min.js"></script>
    <script src="js/vue-spinners-css.min.js"></script>
    <script>
    Vue.use(vcdonut.default);
    </script>

</head>
<body class="h-100">
    <div id="app">
        <div id="overlay">
            <div id="overlayContent" v-bind:class="{rtl: isRtl}">
                <div v-if="overlayLoader" style="text-align: center;">
                    <roller-loader color="#007bff"/>
                </div>
                <div id="overlayBody">
                    <div class="form-group">
                        <div class="row mt-3 mb-5 ml-0 mr-0">
                            <button v-on:click="openMeeting" class="btn btn-primary col-12">{{enterMeetingText}}</button>
                        </div><br>
                        <p>{{inviteToMeetingText}}</p>
                        <div class="row ml-0 mr-0">
                            <input id="copyMeetingLink" v-model:value="meetingGuestLink" type="text" class="form-control col-10" v-bind:style="meetingInviteLinkStyle" readonly>
                            <button id="copyMeetingLinkBtn" v-bind:style="meetingInviteLinkCopyStyle"
                            v-on:click="copyMeetingLink" class="btn btn-sm btn-success col-2">{{copyText}}</button>
                        </div>
                    </div>
                </div>
                <div id="closeOverlay" class="btn btn-danger" v-on:click="closeOverlay">{{returnText}}</div>
            </div>
        </div>
        <div id="notificationBox" :class="{rtl: isRtl}" :style="isRtl ? 'left: -420px;transition: left .7s ease-in;' : 'right: -420px;transition: right .7s ease-in;'">
            <div class="notificationBoxHeader">
                <h5 class="notificationBoxService h-100 mb-0">{{notificationListName}}</h5>
            </div>
            <div class="notificationBoxBody">
                <a v-for="n in notificationList" :href="n.url" target="_blank" style="text-decoration: none;">
                    <li class="notificationBoxItem m-2 p-1">
                        <h6>{{n.title}}</h6>
                        <div :style="isRtl ? 'text-align: left;' : 'text-align: right;'">
                            <p style="font-size: 0.75rem;color: #666666;" class="m-0">{{n.time.hours}}:{{n.time.minutes}} | {{n.time.year}}/{{n.time.month}}/{{n.time.day}}</p>
                        </div>
                    </li>
                </a>
            </div>
            <div class="notificationBoxClose" v-on:click="closeNotification">
                <a class="notificationBoxCloseBtn" style="color: #d62728;">
                    <i class="fa fa-times" style="font-size: 20px;"></i>
                </a>
            </div>
            <!--<div class="notificationBoxTimer"></div>-->
        </div>
        <div v-bind:class="{rtl: isRtl}" class=" h-100">
            <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
                    <div class="container">
                        <div class="dropdown">
                            <a class="navbar-brand" href="./">{{s0}}</a>
                            <a v-bind:style="margin"><small style="color: #FFFFFF;">{{dateNavText}}</small></a>
                        </div>
                        <div class="dropdown">
                            <a id="btn" class="dropbtn" v-on:click="dropdownNavbar">
                                {{s1}}
                                <span class="fa fa-caret-down ml-1 mr-1"></span>
                            </a>
                            <div id="dropdownMenu" class="dropdown-content">
                                <a href="./logout">{{s2}}</a>
                            </div>
                            <a id="langbtn" href="#"  v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                        </div>
                    </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="card-body p-0 pt-3">
                                <form id="upload-form" method="POST" action="/api/user/photo" accept-charset="UTF-8" role="form" class="d-none" enctype="multipart/form-data">
                                    <input type="file" id="upload-image" name="file" onchange="document.getElementById('upload-form').submit()">
                                </form>
                                <div class="userpic mb-3">
                                    <img v-bind:src="userPicture" class="img-responsive avatar" alt="Avatar">
                                    <a href="javascript:void(0)" onclick="document.getElementById('upload-image').click()">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-photo"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>

                                <div class="text-center mb-3">
                                    <div>
                                        <strong>{{s1}}</strong>
                                    </div>
                                    <div class="text-primary">
                                        <small>{{username}}</small>
                                    </div>
                                </div>

                                <div class="text-center mb-3">
                                    <a href="./logout" class="btn btn-danger btn-sm">
                                        <i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s2}}</span>
                                    </a>
                                </div>

                                <div v-if="showMeeting" class="text-center mb-3 mt-3" v-on:click="openOverlay">
                                    <a href="#" style="width: 100%;border-radius: 0;" class="btn btn-success">
                                        <i class="fa fa-video-camera fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{meetingText}}</span>
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action py-2 " 
                                    style="color: #fff; background-color: #007bff; border-color: #007bff;"
                                    v-bind:href="s14">
                                        <i class="fa fa-dashboard fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s3}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERUSER')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s15">
                                        <i class="fa fa-server fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s4}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERUSER')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s16">
                                        <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s13}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERUSER')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s21">
                                        <i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s5}}</span>
                                    </a>
                                    <a sec:authorize="hasRole('SUPERUSER')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="rolesURLText">
                                        <i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{rolesText}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERUSER')" class="list-group-item list-group-item-action py-2 "
                                       v-bind:href="publicmessagesURLText">
                                        <i class="fa fa-bell fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{publicmessagesText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                       v-bind:href="ticketingURLText">
                                        <i class="fa fa-ticket fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{ticketingText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s26">
                                        <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s6}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s29">
                                        <i class="fa fa-history fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s28}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2"
                                       v-bind:href="reportsURLText">
                                        <i class="fa fa-file fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{reportsText}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERUSER')" class="list-group-item list-group-item-action py-2"
                                       v-bind:href="transcriptsURLText">
                                        <i class="fa fa-file-text fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{transcriptsText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s22">
                                        <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s7}}</span>
                                    </a>
                                    <a sec:authorize="hasRole('SUPERUSER')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s25">
                                        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s24}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 page-content">
                        <div class="card">
                            <div class="card-body" style="background-color: #f8f9fa!important;">
                                <h3 class="border-bottom pb-3 mb-3"><span>{{s3}}</span></h3>
                                <div sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERUSER')" class="container mb-3">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <vc-donut v-bind="ActiveUsersChart">
                                                <h4>{{ActiveUsersChart.total}}</h4>
                                                <h5>{{s13}}</h5>
                                            </vc-donut>
                                        </div>
                                        <div class="col-lg-4">
                                            <vc-donut v-bind="ActiveServicesChart">
                                                <h4>{{ActiveServicesChart.total}}</h4>
                                                <h5>{{s4}}</h5>
                                            </vc-donut>
                                        </div>
                                        <div class="col-lg-4">
                                            <vc-donut v-bind="SuccessfulLoginsChart">
                                                <h4>{{SuccessfulLoginsChart.total}}</h4>
                                                <h6>{{s27}}</h6>
                                            </vc-donut>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link" @click.prevent="setActive('services')" :class="{ active: isActive('services') }" href="#services">{{s4}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" @click.prevent="setActive('groups')" :class="{ active: isActive('groups') }" href="#groups">{{s5}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content py-3" id="myTabContent" style="background-color: white;">
                                    <div class="tab-pane fade pr-3 pl-3" :class="{ 'active show': isActive('services') }" id="services">
                                        <div class="row">
                                            <div class="col-md-6 mb-3" v-for="service in services">
                                                <div class="card">
                                                    <div class="card-body bg-light pb-0">
                                                        <div class="media">
                                                            <div :class="marginServiceBox">
                                                                <a :href="service.url" target="_blank" class="serviceLink" style="text-decoration: none;">
                                                                    <img v-bind:src="service.logo" style="width: 60px; height: 60px; max-width: 60px; max-height: 60px;" class="img-responsive img-rounded">
                                                                </a>
                                                            </div>
                                                            <div class="media-body overflow-hidden">
                                                                <div class="d-flex justify-content-between">
                                                                    <a :href="service.url" target="_blank" class="serviceLink" style="text-decoration: none;">
                                                                        <h4 class="text-ellipsis mb-3">{{service.nameContainer}}</h4>
                                                                    </a>
                                                                    <div v-if="service.notification">
                                                                        <a v-if="service.notification.count == 0" class="notificationLink px-0" style="position: relative;" :style="isRtl ? 'right: -36px;' : 'right: 0'">
                                                                            <i class="notificationFas fa fa-bell" style="font-size: 21px; color: #6c757d;"></i>
                                                                        </a>
                                                                        <a v-if="service.notification.count <= 99 && service.notification.count > 0" v-on:click="showNotification(service.notification.notifications, service.description)"
                                                                           class="notificationLink px-0" style="position: relative;cursor: pointer;" :style="isRtl ? 'right: -36px;' : 'right: 0'">
                                                                            <div class="notificationNumber">{{service.notification.count}}</div>
                                                                            <i class="notificationFas fa fa-bell" style="font-size: 21px;"></i>
                                                                        </a>
                                                                        <a v-if="service.notification.count > 99" v-on:click="showNotification(service.notification.notifications, service.description)"
                                                                           class="notificationLink px-0" style="position: relative;cursor: pointer;" :style="isRtl ? 'right: -36px;' : 'right: 0'">
                                                                            <div class="notificationNumber" style="font-size: 12px; line-height: 1.8;">+99</div>
                                                                            <i class="notificationFas fa fa-bell" style="font-size: 21px;"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div v-else>
                                                                        <a class="notificationLink px-0" style="position: relative;" :style="isRtl ? 'right: -36px;' : 'right: 0'">
                                                                            <i class="notificationFas fa fa-bell" style="font-size: 21px; color: #6c757d;"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" :class="{ 'active show': isActive('groups') }" id="groups">
                                        <table class="table table-responsive">
                                            <tr>
                                                <th style="border: none;">{{s17}}</th>
                                                <th style="border: none;">{{s18}}</th>
                                                <th style="border: none;">{{s19}}</th>
                                            </tr>
                                            <tbody id="body">
                                                <tr v-for="group in groups" v-bind:key="group.id">
                                                    <td>{{group.id}}</td>
                                                    <td>{{group.name}}</td>
                                                    <td>{{group.description}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mb-3 mt-4">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{s10}}</a>
                        <a v-bind:href="s23" class="btn btn-link" style="text-decoration: none;">{{s11}}</a>
                        <a href="public/Parsso-User-Guide.pdf" class="btn btn-link" style="text-decoration: none;">{{s12}}</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
