<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>پارسو</title>

    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">
    <link href="css/Login/style.css" rel="stylesheet">

    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/Login/script.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.2.0/stomp.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/stomp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
</head>
<body>
<script type="text/javascript">
    var messageList = $("#messages");
    // defined a connection to a new socket endpoint
    var socket = new SockJS('/stomp');
    var stompClient = Stomp.over(socket);
    stompClient.connect({ }, function(frame) {
        // subscribe to the /topic/message endpoint
        stompClient.subscribe("/room.2", function(data) {
            var message = data.body;
            var validate = "Bearer " + message;
            document.cookie = "Authorization=" + validate;
            window.location.assign("http://localhost:8080/");
        });

    });
</script>


    <div id="app" class="wrapper">
            <div class="h-100 d-md-flex align-items-center">
                <div class="container my-3">
                    <div class="row justify-content-center">
                        <div class="col-md-8" style="flex: 0 0 100%; max-width: 100%;">
                            <div class="login-form p-4 rounded text-center">
                                <h2><span>{{s0}}</span></h2>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-6">
                                        <div class="card h-100" style="border: 0px; background-color: rgba(0,0,0,0)">
                                            <div class="card-body p-1 d-flex align-items-center justify-content-center">
                                                <img style="padding-bottom: 30px;" src="images/1.png" width="80%" height="80%" class="img-responsive center-block">
                                            </div>
                                            <div class="card-body" :class="{ 'active show': isActive('app') }" id="app">
                                                <img id="qr" v-bind:src="QR" class="img-responsive center-block" alt="qrCode" width="50%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <form th:action="@{/login}" method="POST">
                                            <h6 class="text-muted mb-3">{{s1}}</h6>
                                            <div class="form-group ">
                                                <input type="text" name="username" id="username" class="form-control" v-model="username" v-bind:placeholder="s2" v-bind:style="placeholder" required>
                                            </div>
                                            <div class="form-group ">
                                                <input type="password" name="password" id="password" class="form-control" v-model="password" v-bind:placeholder="s3" v-bind:style="placeholder" required>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit"class="btn btn-primary btn-block">{{s4}}</button>
                                            </div>
                                            <div class="form-group ">
                                                <a type="password" name="forgetPass" id="forgetPass" href="./resetPass" style="text-decoration: none;">{{s12}} </a>
                                            </div>
                                        </form>
                                        <div v-bind:style="infoError ? 'visibility: visible;' : 'visibility: hidden;' " class="error">
                                            {{s5}}
                                        </div>

                                </div>
                            </div>

                            <div class="text-center mt-3 text-decoration">
                                    <a href="#" v-on:click="changeLang"><b>{{lang}}</b></a>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
    </div>

</body>
</html>