<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>پارسو</title>
    
    <link href="../../../../css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../css/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../../../fonts/IranSans/font.css" rel="stylesheet">
    <link href="../../../../css/Users/style.css" rel="stylesheet">

    
    <script src="../../../../js/es6-promise.min.js"></script>
    <script src="../../../../js/es6-promise.auto.min.js"></script>
    <script src="../../../../js/polyfill.min.js"></script>
    <script src="../../../../js/vue.min.js"></script>
    <script src="../../../../js/vue-router.js"></script>
    <script src="../../../../js/persian-date.min.js"></script>
    <script src="../../../../js/NewPassword/script.js"></script>
    <script src="../../../../js/axios.min.js"></script>
    <script src="../../../../js/persian-rex.min.js"></script>

</head>
<body class="h-100">
    <div id="app">
        <div class=" h-100">
            <div v-bind:class="{rtl: isRtl}">
                <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
                    <div class="container">
                        <div class="dropdown">
                            <a class="navbar-brand" href="../../../../">{{s0}}</a>
                            <a v-bind:style="margin"><small style="color: #FFFFFF;">{{dateNavText}}</small></a>
                        </div>
                        <div class="dropdown">
                            <a id="langbtn" href="#" v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-9 page-content">
                        <div class="card">
                            <div class="card-body pb-0">
                                <div class="login-form p-4 rounded text-center">
                                    <h2><span>{{changeUserPasswordText}}</span></h2>
                                    <div class="mt-3" v-bind:style="marg">
                                        <p v-bind:style="placeholder">{{s19}}<b>{{s17}}</b>{{s18}}</p>
                                        <p v-bind:style="placeholder">{{s14}}</p>
                                    </div>
                                    <div class="row justify-content-center mt-3">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <transition name="hint" appear>
                                                    <div v-if="!submitted" class="hints" style="padding-top:0rem;">
                                                        <p v-bind:style="placeholder">{{s13}}</p>
                                                        <p id="hintI" :class="{'passed' :has_number }" v-bind:style="font">{{rules[3].message}}<i :class="has_number ? 'fa fa-check' : 'fa fa-times'"></i></p>
                                                        <p id="hintI" :class="{'passed' :has_lowerUPPERcase }" v-bind:style="font">{{rules[0].message}}<i :class="has_lowerUPPERcase ? 'fa fa-check' : 'fa fa-times'"></i></p>
                                                        <p id="hintI" :class="{'passed' :has_specialchar }" v-bind:style="font">{{rules[1].message}}<i :class="has_specialchar ? 'fa fa-check' : 'fa fa-times'"></i></p>
                                                        <p id="hintI" :class="{'passed' :has_char }" v-bind:style="font">{{rules[2].message}}<i :class="has_char ? 'fa fa-check' : 'fa fa-times'"></i></p>
                                                    </div>
                                                </transition>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" @input="passwordCheck" :type="show === true ? 'text' : 'password'"
                                                       name="passwordIdman" id="password" v-model="password" v-bind:placeholder="s6" v-bind:style="placeholder" required autocomplete="off">
                                                <div class="strength" :class="'level_' + strengthLevel"></div>
                                                <i class="fa fa-eye show-icon"  v-bind:style="eye" v-if="show" @click="show = !show"></i>
                                                <i class="fa fa-eye-slash hide-icon" v-bind:style="eye" v-else  @click="show = !show"></i>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" :type="showR === true ? 'text' : 'password'" v-model="checkPassword" v-bind:placeholder="s7" v-bind:style="placeholder" autocomplete="off">
                                                <i class="fa fa-eye show-icon" v-bind:style="eye" v-if="showR" @click="showR = !showR"></i>
                                                <i class="fa fa-eye-slash hide-icon" v-bind:style="eye" v-else  @click="showR = !showR"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <button @click="resetPasswords" :disabled="isActiveUserPassUpdate" class="btn btn-primary mx-2">
                                            {{s8}}
                                        </button>
                                        <button @click="location.replace('./resetpassword')" class="btn btn-primary mx-2">
                                            {{s16}}
                                        </button>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group mt-3">
                                            <div class="matches" v-bind:style="notSamePasswords ? 'visibility: visible;' : 'visibility: hidden;' ">
                                                <p class="error" style="font-size: .8rem;">{{s9}}</p>
                                            </div>
                                            <div class="matches" v-bind:style="passwordChangeSuccessful ? 'display: block;' : 'display: none;' ">
                                                <p class="successMessage" style="font-size: .8rem;">{{passwordChangeSuccessful}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="mb-3 mt-4">
            <div class="container">
            </div>
        </footer>
    </div>
</body>
</html>