<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>پارسو</title>
    
    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">
    <link href="css/Users/style.css" rel="stylesheet">

    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/Privacy/script.js"></script>
</head>
<body class="h-100">
    <div id="app">
        <div v-bind:class="{rtl: isRtl}" class=" h-100">
            <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
                <div class="container">
                    <a class="navbar-brand" href="./">{{s0}}</a>
                    <div class="dropdown">
                        <a id="langbtn" href="#" v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-9 page-content">
                        <div class="card">
                            <div class="card-body pb-0">
                                <h2>
                                    {{s21}}
                                </h2>
                                <br>
                                <p>
                                    {{s22}}
                                </p> <br> 
                                <p>
                                    {{s23}}
                                    {{s24}}
                                </p> <br>
                                <h3>
                                    {{s25}}
                                </h3>
                                <ul>
                                    <li>
                                        {{s26}}
                                    </li>
                                    <li>
                                        {{s27}}
                                    </li>
                                </ul> <br>
                                <h3>
                                    {{s28}}
                                </h3>
                                <p>
                                    {{s29}}
                                    <a href='https://pars-sso.ir/'>https://pars-sso.ir</a>
                                    {{s50}}
                                </p> <br>
                                <h3>
                                    {{s30}}
                                </h3>   
                                <p>
                                    {{s31}}
                                    {{s32}}
                                    {{s33}}
                                </p> <br>
                                <h3>
                                    {{s34}}
                                </h3>   	
                                <p>
                                    {{s35}}
                                </p> <br>
                                <h3>
                                    {{s36}}
                                </h3>    
                                <p>
                                    {{s37}}
                                    {{s38}}
                                </p> <br>
                                <h3>
                                    {{s39}}
                                </h3>   
                                <p>
                                    {{s40}}
                                </p> <br>
                                <h3>
                                    {{s41}}
                                </h3>
                                <p>
                                    {{s42}}
                                    {{s43}}
                                </p> <br>
                                <h3>
                                    {{s44}}
                                </h3>
                                <p>
                                    {{s45}}
                                </p> <br>  
                                <h3>
                                    {{s46}}
                                </h3>    
                                <p>
                                    {{s47}}
                                </p> <br>  
                                <h3>
                                    {{s48}}
                                </h3>    
                                <p>
                                    {{s49}}
                                </p> <br>                                  
                                <div class="text-center mt-4 text-decoration">
                                    <a href="./dashboard" class="text-center text-decoration btn btn-primary mb-4">{{s16}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="mb-3 mt-4">
            <div class="container">
            </div>
        </footer>
    </div>
    </body>
</html>