<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پارسو</title>

    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/Profile/style.css" rel="stylesheet">
    <link href="css/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">


    <script src="js/es6-promise.min.js"></script>
    <script src="js/es6-promise.auto.min.js"></script>
    <script src="js/polyfill.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/persian-date.min.js"></script>
    <script src="js/Profile/script.js"></script>
    <script src="js/persian-rex.min.js"></script>

</head>
<body class="h-100">
    <div id="app">
        <div id="overlay">
            <div id="overlayContent" v-bind:class="{rtl: isRtl}">
                <div id="overlayBody">
                    <div class="form-group">
                        <div class="row mt-3 mb-5 ml-0 mr-0">
                            <button v-on:click="openMeeting" class="btn btn-primary col-12">{{enterMeetingText}}</button>
                        </div><br>
                        <p>{{inviteToMeetingText}}</p>
                        <div class="row ml-0 mr-0">
                            <input id="copyMeetingLink" v-model:value="meetingGuestLink" type="text" class="form-control col-10" v-bind:style="meetingInviteLinkStyle" readonly>
                            <button id="copyMeetingLinkBtn" v-bind:style="meetingInviteLinkCopyStyle"
                                    v-on:click="copyMeetingLink" class="btn btn-sm btn-success col-2">{{copyText}}</button>
                        </div>
                    </div>
                </div>
                <div id="closeOverlay" v-on:click="closeOverlay">{{returnText}}</div>
            </div>
        </div>
        <div v-bind:class="{rtl: isRtl}" class=" h-100">
                <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
                    <div class="container">
                        <div class="dropdown">
                            <a class="navbar-brand" href="./">{{s0}}</a>
                            <a v-bind:style="margin"><small style="color: #FFFFFF;">{{dateNavText}}</small></a>
                        </div>
                        <div class="dropdown">
                            <a id="btn" class="dropbtn" v-on:click="dropdownNavbar">
                                {{s1}}
                                <span class="fa fa-caret-down ml-1 mr-1"></span>
                            </a>
                            <div id="dropdownMenu" class="dropdown-content">
                                <a href="./logout">{{s2}}</a>
                            </div>
                            <a id="langbtn" href="#"  v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                        </div>
                    </div>
                </nav>
                <div class="container">
                <div class="row">
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="card-body p-0 pt-3">
                                <form id="upload-form" method="POST" action="/api/user/photo" accept-charset="UTF-8" role="form" class="d-none" enctype="multipart/form-data">
                                    <input type="file" id="upload-image" name="file" onchange="document.getElementById('upload-form').submit()">
                                </form>
                                <div class="userpic mb-3">
                                    <img v-bind:src="userPicture" class="img-responsive avatar" alt="Avatar">
                                    <a href="javascript:void(0)" onclick="document.getElementById('upload-image').click()"><!--  -->
                                        <table>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-photo"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>

                                <div class="text-center mb-3">
                                    <div>
                                        <strong>{{s1}}</strong>
                                    </div>
                                    <div class="text-primary">
                                        <small>{{username}}</small>
                                    </div>
                                </div>

                                <div class="text-center mb-3">
                                    <a href="./logout" class="btn btn-danger btn-sm">
                                        <i class="fa fa-power-off"></i>&nbsp;
                                        {{s2}}
                                    </a>
                                </div>

                                <div v-if="showMeeting" class="text-center mb-3 mt-3" v-on:click="openOverlay">
                                    <a href="#" style="width: 100%;border-radius: 0;" class="btn btn-primary">
                                        <i class="fa fa-video-camera fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{meetingText}}</span>
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s14">
                                        <i class="fa fa-dashboard fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s20}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s15">
                                        <i class="fa fa-server fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s4}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s16">
                                        <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s13}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s22">
                                        <i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s5}}</span>
                                    </a>
                                    <a sec:authorize="hasRole('SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="rolesURLText">
                                        <i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{rolesText}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                       v-bind:href="publicmessagesURLText">
                                        <i class="fa fa-bell fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{publicmessagesText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s29">
                                        <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s6}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s42">
                                        <i class="fa fa-history fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s41}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2"
                                       v-bind:href="reportsURLText">
                                        <i class="fa fa-file fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{reportsText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    style="color: #fff; background-color: #007bff; border-color: #007bff;"
                                    v-bind:href="s23">
                                        <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s7}}</span>
                                    </a>
                                    <a sec:authorize="hasRole('SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s28">
                                        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{s27}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 page-content">
                        <div class="card">
                            <div class="card-body" style="background-color: #f8f9fa!important;">
                                <h3 class="border-bottom pb-3 mb-3"><span>{{s7}}</span></h3>
                                <ul class="nav nav-tabs nav-justified" style="font-size: 15px;">
                                    <li class="nav-item">
                                        <a class="nav-link" @click.prevent="setActive('info')" :class="{ active: isActive('info') }" href="#info">{{U17}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" @click.prevent="setActive('password')" :class="{ active: isActive('password') }" href="#password">{{U16}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" @click.prevent="setActive('application')" :class="{ active: isActive('application') }" href="#application">{{s30}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content py-3" id="myTabContent" style="background-color: white; padding: 2%; font-size: 15px;">
                                    <div class="tab-pane fade" :class="{ 'active show': isActive('password') }" id="password">
                                            <label>{{U0}}</label>
                                            <div class="form-group">
                                                <input id="currentPassword" class="form-control" :type="showC === true ? 'text' : 'password'" v-bind:placeholder="s26" v-bind:style="placeholder" autocomplete="off">
                                                <i class="fa fa-eye show-icon" v-bind:style="eye" v-if="showC" @click="showC = !showC"></i>
                                                <i class="fa fa-eye-slash hide-icon" v-bind:style="eye" v-else  @click="showC = !showC"></i>
                                            </div>
                                            <div class="form-group">
                                                <input v-bind:value="userInfo.userPassword" :class='{valid:passwordValidation.valid}' @input="passwordCheck" :type="show === true ? 'text' : 'password'" class="form-control"
                                                name="newPasswordIdman" id="newPassword" v-model="password" v-bind:placeholder="s17" v-bind:style="placeholder" oninvalid="this.setCustomValidity('لطفا این قسمت را تکمیل کنید')"
                                                oninput="setCustomValidity('')" required autocomplete="off">

                                                <div class="strength" :class="'level_' + strengthLevel"></div>
                                                <i class="fa fa-eye show-icon" v-bind:style="eye" v-if="show" @click="show = !show"></i>
                                                <i class="fa fa-eye-slash hide-icon" v-bind:style="eye" v-else  @click="show = !show"></i>
                                            </div>
                                            <div class="form-group">
                                                <input v-bind:value="userInfo.userPassword" class="form-control" :type="showR === true ? 'text' : 'password'" v-model='checkPassword' v-bind:placeholder="s18" v-bind:style="placeholder" autocomplete="off">
                                                <i class="fa fa-eye show-icon" v-bind:style="eye" v-if="showR" @click="showR = !showR"></i>
                                                <i class="fa fa-eye-slash hide-icon" v-bind:style="eye" v-else  @click="showR = !showR"></i>
                                            </div>
                                            <div class="form-group">
                                                <transition name="hint" appear>
                                                    <div v-if='!submitted' class='hints'>
                                                        <p style="box-sizing: unset;">{{s19}}</p> <br>
                                                        <p :class="{'passed' :has_number }" v-bind:style="font"><i :class="has_number ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[3].message}}</p>
                                                        <p :class="{'passed' :has_lowerUPPERcase }" v-bind:style="font"><i :class="has_lowerUPPERcase ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[0].message}}</p>
                                                        <p :class="{'passed' :has_specialchar }" v-bind:style="font"><i :class="has_specialchar ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[1].message}}</p>
                                                        <p :class="{'passed' :has_char }" v-bind:style="font"><i :class="has_char ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[2].message}}</p>
                                                    </div>
                                                </transition>
                                            </div>
                                            <div class="form-group">
                                                <p>{{s33}}</p>
                                                <div class="row mb-3 ml-0 mr-0">
                                                    <input v-model:value="token" id="token" type="text" class="form-control col-4">
                                                    <button id="countdownBtn" style="font-size: .75rem;" v-on:click="sendToken()" class="btn btn-sm btn-success col-3 ml-2 mr-2">{{s34}}<span id="countdown"></span></button>
                                                    <div class="col-5"></div>
                                                </div>
                                                <div v-bind:style="requestSentSuccess ? 'visibility: visible;' : 'visibility: hidden;' ">
                                                    <p class="rounded" style="background-color:rgba(144, 238, 144, 0.521); padding: 1%;">{{s32}}</p>
                                                </div>
                                                <div v-if="requestSentFail">
                                                    <p class="rounded" style="background-color:rgba(228, 30, 30, 0.521); padding: 1%;">{{s37}}</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="matches" v-bind:style="notSamePasswords ? 'visibility: visible;' : 'visibility: hidden;' ">
                                                    <p class="error" style="font-size: .8rem;">{{s21}}</p>
                                                </div>
                                                <div v-if="duplicatePasswords" class="matches">
                                                    <p class="error" style="font-size: .8rem;">{{s43}}</p>
                                                </div>
                                                <div v-if="incorrectPassword" class="matches">
                                                    <p class="error" style="font-size: .8rem;">{{s44}}</p>
                                                </div>
                                                <div v-if="incorrectToken" class="matches">
                                                    <p class="error" style="font-size: .8rem;">{{s45}}</p>
                                                </div> <br>
                                                <button v-on:click="backDashboard()" class="btn btn-danger">{{s39}}</button>
                                                <button v-on:click="editPass()" :disabled="setActivee" class="btn btn-primary">{{U13}}</button>
                                            </div>
                                    </div>
                                    <div class="tab-pane fade" :class="{ 'active show': isActive('info') }" id="info">
                                        <div>
                                            <div class="form-group">
                                                <label>{{U3}}<span style="color: red;"> *</span><small style="font-size: 70%;">{{inputEnglishFilterText}}</small></label>
                                                <input v-bind:value="userInfo.firstName" id="userInfo.firstNameUpdate" v-on:keypress="englishInputCharCheck" v-on:paste="englishInputCharCheck"
                                                    type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>{{U4}}<span style="color: red;"> *</span><small style="font-size: 70%;">{{inputEnglishFilterText}}</small></label>
                                                <input v-bind:value="userInfo.lastName" id="userInfo.lastNameUpdate" v-on:keypress="englishInputCharCheck" v-on:paste="englishInputCharCheck"
                                                    type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>{{U5}}<span style="color: red;"> *</span><small style="font-size: 70%;">{{inputPersianFilterText}}</small></label>
                                                <input v-bind:value="userInfo.displayName" id="userInfo.displayNameUpdate" v-on:keypress="persianInputCharCheck" v-on:paste="persianInputCharCheck"
                                                    type="text" class="form-control" required oninvalid="this.setCustomValidity('لطفا این قسمت را تکمیل کنید')"
                                                    oninput="setCustomValidity('')">
                                            </div>
                                            <div class="form-group">
                                                <label>{{U6}}<span style="color: red;"> *</span></label>
                                                <input v-bind:value="userInfo.mobile" id="userInfo.mobileUpdate" type="text" pattern="09\d{9}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>{{U7}}<span style="color: red;"> *</span></label>
                                                <input v-bind:value="userInfo.mail" id="userInfo.mailUpdate" type="email" class="form-control" required oninvalid="this.setCustomValidity('لطفا این قسمت را تکمیل کنید')"
                                                oninput="setCustomValidity('')">
                                            </div>
                                            <div class="form-group">
                                                <label>{{U18}}</label>
                                                <input v-bind:value="userInfo.employeeNumber" id="userInfo.employeeNumberUpdate" type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>{{U9}}</label>
                                                <textarea v-bind:value="userInfo.description" id="userInfo.descriptionUpdate" rows="3" type="text" class="form-control">
                                                </textarea>
                                            </div>
                                            <div class="form-group">
                                                <button v-on:click="backDashboard()" id="backButton" class="btn btn-danger">{{s39}}</button>
                                                <button v-on:click="editUser()" id="editButton" class="btn btn-primary">{{U13}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" :class="{ 'active show': isActive('application') }" id="application">
                                        <h6>{{s31}}</h6>
                                        <img id="qr" v-bind:src="QR" class="img-responsive center-block" alt="qrCode" width="30%">
                                        <h6 class="mt-5 mb-3">{{s38}}</h6>
                                        <form method="GET" action="app/parsso.apk">
                                            <button type="submit" class="btn btn-primary">
                                                <span class="fa-stack">
                                                    <i class="fa fa-android fa-stack-2x"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mb-3 mt-4">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{s10}}</a>
                        <a v-bind:href="s25" class="btn btn-link" style="text-decoration: none;">{{s11}}</a>
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{s12}}</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
