<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پارسو</title>

    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/Users/style.css" rel="stylesheet">
    <link href="css/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">


    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/ResetPassword/script.js"></script>

</head>
<body class="h-100">
<div id="app">
    <div v-bind:class="{rtl: isRtl}" class=" h-100">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
            <div class="container">
                <a class="navbar-brand" href="./">{{s0}}</a>
                <div class="dropdown">
                    <a id="langbtn" href="#" v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 page-content">
                    <div class="card">
                        <div class="card-body pb-0" style="background-color: #f8f9fa!important;">
                            <h3>{{s3}}</h3>
                            <ul class="nav nav-tabs nav-justified mt-3">
                                <li class="nav-item">
                                    <a class="nav-link" @click.prevent="setActive('email')" :class="{ active: isActive('email') }" href="#email">email</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" @click.prevent="setActive('sms')" :class="{ active: isActive('sms') }" href="#sms">sms</a>
                                 </li>
                            </ul>
                            <div class="tab-content py-3" id="myTabContent" style="background-color: white; padding: 2%;">
                                <div class="tab-pane fade" :class="{ 'active show': isActive('email') }" id="email">
                                    <div class="container" id="sendE" v-if="sendE">
                                        <div class="mt-3 form-group">
                                            <p>{{s23}}</p>
                                            <input type="email" name="emailE" id="emailE" v-model="emailE" class="form-control"
                                            v-bind:placeholder="s19" v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                        </div>
                                        <div>
                                            <img v-bind:src="captcha">
                                            <button style="padding: .2rem .2rem; color: #28a745; font-size: 70%;" data-toggle="tooltip" data-placement="top" title="Refresh Captcha" class="btn btn-sm" v-on:click="getCaptcha()">
                                                <span class="fa-passwd-reset fa-stack">
                                                    <i class="fa fa-undo fa-stack-2x"></i>
                                                </span> 
                                            </button>
                                            <div class="row">
                                                <input type="text" name="capAnswer" id="capAnswer" v-model="capAnswer" class="form-control mb-3 mt-3 col-3"
                                                v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                                <div class="col-9"></div>
                                            </div>
                                        </div>
                                        <button @click="sendEmail(emailE)" class="btn btn-primary mb-3">
                                            {{s18}}
                                        </button>        
                                    </div>
                                    <div class="container" id="sendU" v-if="sendU">
                                        <div class="mt-3 form-group">
                                            <p>{{s29}}</p>
                                            <input type="text" name="usernameE" id="usernameE" v-model="usernameE" class="form-control"
                                            v-bind:placeholder="s36" v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                        </div>
                                        <button @click="sendEmailUser(emailE, usernameE)" class="btn btn-primary mb-3">
                                            {{s18}}
                                        </button>
                                    </div>
                                    <div class="container" id="Success" v-if="Success">
                                        <div class="mt-3 mb-3 form-group">
                                            <p style="color: green;"><i style="padding-left: 0.25rem; padding-right: 0.25rem;" class="fa fa-check-circle"></i>{{s24}}</p>
                                            <p class="mt-3">{{s25}}</p>
                                            <a href="../" class="btn btn-primary">{{s26}}</a>
                                        </div>
                                    </div>
                                    <div class="container" id="Error" v-if="Error">
                                        <div class="mt-3 form-group">
                                            <p style="color: red;"><i style="padding-left: 0.25rem; padding-right: 0.25rem;" class="fa fa-exclamation-triangle"></i>{{s27}}</p>
                                            <p class="mt-3">{{s28}}</p>
                                            <input type="email" name="emailEE" id="emailEE" v-model="emailEE" class="form-control"
                                            v-bind:placeholder="s19" v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                        </div>
                                        <div>
                                            <img v-bind:src="captcha">
                                            <button style="padding: .2rem .2rem; color: #28a745; font-size: 70%;" data-toggle="tooltip" data-placement="top" title="Refresh Captcha" class="btn btn-sm" v-on:click="getCaptcha()">
                                                <span class="fa-passwd-reset fa-stack">
                                                    <i class="fa fa-undo fa-stack-2x"></i>
                                                </span> 
                                            </button>
                                            <div class="row">
                                                <input type="text" name="capAnswer" id="capAnswer" v-model="capAnswer" class="form-control mb-3 mt-3 col-3"
                                                v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                                <div class="col-9"></div>
                                            </div>
                                        </div>
                                        <button @click="sendEmail(emailEE)" class="btn btn-primary mb-3">
                                            {{s18}}
                                        </button>  
                                    </div>
                                </div>

                                <div class="tab-pane fade" :class="{ 'active show': isActive('sms') }" id="sms">
                                    <div class="container" id="sendS" v-if="sendS">
                                        <div class="mt-3 form-group">
                                            <p>{{s30}}</p>
                                            <input type="text" name="mobile" id="mobile" v-model="mobile" class="form-control"
                                            v-bind:placeholder="s34" v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                        </div>
                                        <div>
                                            <img v-bind:src="captcha">
                                            <button style="padding: .2rem .2rem; color: #28a745; font-size: 70%;" data-toggle="tooltip" data-placement="top" title="Refresh Captcha" class="btn btn-sm" v-on:click="getCaptcha()">
                                                <span class="fa-passwd-reset fa-stack">
                                                    <i class="fa fa-undo fa-stack-2x"></i>
                                                </span> 
                                            </button>
                                            <div class="row">
                                                <input type="text" name="capAnswer" id="capAnswer" v-model="capAnswer" class="form-control mb-3 mt-3 col-3"
                                                v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                                <div class="col-9"></div>
                                            </div>
                                        </div>
                                        <button @click="sendSMS(mobile)" class="btn btn-primary mb-3">
                                            {{s18}}
                                        </button>        
                                    </div>
                                    <div class="container" id="sendUS" v-if="sendUS">
                                        <div class="mt-3 form-group">
                                            <p>{{s29}}</p>
                                            <input type="text" name="usernameS" id="usernameS" v-model="usernameS" class="form-control"
                                            v-bind:placeholder="s36" v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                        </div>
                                        <button @click="sendSMSUser(mobile, usernameS)" class="btn btn-primary mb-3">
                                            {{s18}}
                                        </button>
                                    </div>
                                    <div class="container" id="checkSMSCode" v-if="checkSMSCode">
                                        <div class="mt-3 mb-3 form-group">
                                            <p style="color: green;"><i style="padding-left: 0.25rem; padding-right: 0.25rem;" class="fa fa-check-circle"></i>{{s24}}</p>
                                            <p class="mt-3">{{s31}}</p>
                                            <input type="text" name="codeSMS" id="codeSMS" v-model="codeSMS" class="form-control"
                                            v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید" autocomplete="off">
                                        </div>
                                        <button @click="checkSMS(codeSMS)" class="btn btn-primary mb-3">
                                            {{s18}}
                                        </button>
                                    </div>
                                    <div class="container" id="SuccessS" v-if="SuccessS">
                                        <div class="mt-3 mb-3 form-group">
                                            <p class="mt-3">{{s35}}</p>
                                        </div>
                                    </div>
                                    <div class="container" id="ErrorSMSCode" v-if="ErrorSMSCode">
                                        <div class="mt-3 mb-3 form-group">
                                            <p style="color: red;" class="mt-3" v-if="ErrorSMSCode403">{{s40}}</p>
                                            <p style="color: red;" class="mt-3" v-if="ErrorSMSCode408">{{s39}}</p>
                                            <a href="../resetPass" class="btn btn-primary">{{s17}}</a>
                                        </div>
                                    </div>
                                    <div class="container" id="ErrorS" v-if="ErrorS">
                                        <div class="mt-3 form-group">
                                            <p style="color: red;"><i style="padding-left: 0.25rem; padding-right: 0.25rem;" class="fa fa-exclamation-triangle"></i>{{s32}}</p>
                                            <p class="mt-3">{{s33}}</p>
                                            <input type="text" name="mobileS" id="mobileS" v-model="mobileS" class="form-control"
                                            v-bind:placeholder="s34" v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                        </div>
                                        <div>
                                            <img v-bind:src="captcha">
                                            <button style="padding: .2rem .2rem; color: #28a745; font-size: 70%;" data-toggle="tooltip" data-placement="top" title="Refresh Captcha" class="btn btn-sm" v-on:click="getCaptcha()">
                                                <span class="fa-passwd-reset fa-stack">
                                                    <i class="fa fa-undo fa-stack-2x"></i>
                                                </span> 
                                            </button>
                                            <div class="row">
                                                <input type="text" name="capAnswer" id="capAnswer" v-model="capAnswer" class="form-control mb-3 mt-3 col-3"
                                                v-bind:style="placeholder" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                                <div class="col-9"></div>
                                            </div>
                                        </div>
                                        <button @click="sendSMS(mobileS)" class="btn btn-primary mb-3">
                                            {{s18}}
                                        </button>  
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="mb-3 mt-4">
        <div class="container">
        </div>
    </footer>
</div>
</body>
</html>
