<!DOCTYPE html>
<html lang="fa" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پارسو</title>

    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/Roles/style.css" rel="stylesheet">
    <link href="css/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">


    <script src="js/es6-promise.min.js"></script>
    <script src="js/es6-promise.auto.min.js"></script>
    <script src="js/polyfill.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/persian-date.min.js"></script>
    <script src="js/Roles/script.js"></script>
    <script src="js/vue-plain-pagination.umd.min.js"></script>
    <script src="js/vue-spinners-css.min.js"></script>

</head>
<body class="h-100">
    <div id="app">
        <div id="overlay">
            <div id="overlayContent" v-bind:class="{rtl: isRtl}">
                <div id="overlayBody">
                    <div class="form-group">
                        <div class="row mt-3 mb-5 ml-0 mr-0">
                            <button v-on:click="openMeeting" class="btn btn-primary col-12">{{enterMeetingText}}</button>
                        </div><br>
                        <p>{{inviteToMeetingText}}</p>
                        <div class="row ml-0 mr-0">
                            <input id="copyMeetingLink" v-model:value="meetingGuestLink" type="text" class="form-control col-10" v-bind:style="meetingInviteLinkStyle" readonly>
                            <button id="copyMeetingLinkBtn" v-bind:style="meetingInviteLinkCopyStyle"
                                    v-on:click="copyMeetingLink" class="btn btn-sm btn-success col-2">{{copyText}}</button>
                        </div>
                    </div>
                </div>
                <div id="closeOverlay" v-on:click="closeOverlay">{{returnText}}</div>
            </div>
        </div>
        <div v-bind:class="{rtl: isRtl}" class=" h-100">
            <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
                <div class="container">
                    <div class="dropdown">
                        <a class="navbar-brand" href="./">{{parssoTitleText}}</a>
                        <a v-bind:style="margin"><small style="color: #FFFFFF;">{{dateNavText}}</small></a>
                    </div>
                    <div class="dropdown">
                        <a id="btn" class="dropbtn" v-on:click="dropdownNavbar">
                            {{usernameText}}
                            <span class="fa fa-caret-down ml-1 mr-1"></span>
                        </a>
                        <div id="dropdownMenu" class="dropdown-content">
                            <a href="./logout">{{exitText}}</a>
                        </div>
                        <a id="langbtn" href="#"  v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="card-body p-0 pt-3">
                                <form id="upload-form" method="POST" action="/api/user/photo" accept-charset="UTF-8" role="form" class="d-none" enctype="multipart/form-data">
                                    <input type="file" id="upload-image" name="file" onchange="document.getElementById('upload-form').submit()">
                                </form>
                                <div class="userpic mb-3">
                                    <img v-bind:src="userPicture" class="img-responsive avatar" alt="Avatar">
                                    <a href="javascript:void(0)" onclick="document.getElementById('upload-image').click()">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-photo"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>

                                <div class="text-center mb-3">
                                    <div>
                                        <strong>{{usernameText}}</strong>
                                    </div>
                                    <div class="text-primary">
                                        <small>{{username}}</small>
                                    </div>
                                </div>

                                <div class="text-center mb-3">
                                    <a href="./logout" class="btn btn-danger btn-sm">
                                        <i class="fa fa-power-off"></i>&nbsp;
                                        {{exitText}}
                                    </a>
                                </div>

                                <div v-if="showMeeting" class="text-center mb-3 mt-3" v-on:click="openOverlay">
                                    <a href="#" style="width: 100%;border-radius: 0;" class="btn btn-success">
                                        <i class="fa fa-video-camera fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{meetingText}}</span>
                                    </a>
                                </div>

                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="dashboardURLText">
                                        <i class="fa fa-dashboard fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{dashboardText}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="servicesURLText">
                                        <i class="fa fa-server fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{servicesText}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="usersURLText">
                                        <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{usersText}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="groupsURLText">
                                        <i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{groupsText}}</span>
                                    </a>
                                    <a sec:authorize="hasRole('SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    style="color: #fff; background-color: #007bff; border-color: #007bff;"
                                    v-bind:href="rolesURLText">
                                        <i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{rolesText}}</span>
                                    </a>
                                    <a sec:authorize="hasAnyRole('ADMIN', 'SUPPORTER', 'SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                       v-bind:href="publicmessagesURLText">
                                        <i class="fa fa-bell fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{publicmessagesText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="eventsURLText">
                                        <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{eventsText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="auditsURLText">
                                        <i class="fa fa-history fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{auditsText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2"
                                       v-bind:href="reportsURLText">
                                        <i class="fa fa-file fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{reportsText}}</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="profileURLText">
                                        <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{profileText}}</span>
                                    </a>
                                    <a sec:authorize="hasRole('SUPERADMIN')" class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="configsURLText">
                                        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;
                                        <span>{{configsText}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 page-content">
                        <div class="card">
                            <div class="card-body pb-0 pl-0 pr-0" style="background-color: #f8f9fa!important;">
                                <div class="container">
                                    <div class="ml-0 mr-0">
                                        <h3 class="border-bottom pb-2">{{rolesText}}</h3>
                                    </div>
                                    <div class="row mb-3 mt-3 ml-0 mr-0">
                                        <div class="col pl-1 pr-1">
                                            <div class="card">
                                                <div class="card-header bg-light py-2 d-flex justify-content-between align-items-center">
                                                    <div class="row ml-0 mr-0 w-100">
                                                        <div class="col-4 pl-1 pr-1">
                                                            <div class="input-group input-group-sm">
                                                                <input type="text" :placeholder="searchText" class="form-control" v-model="userListSearch">
                                                            </div>
                                                        </div>
                                                        <div class="col-2"></div>
                                                        <div class="col-4 pl-1 pr-1">
                                                            <div class="input-group input-group-sm">
                                                                <select id="role" class="form-control">
                                                                    <option value="" selected disabled>{{chooseRoleText}}</option>
                                                                    <option value="SUPERADMIN">{{superAdminText}}</option>
                                                                    <option value="SUPPORTER">{{supporterText}}</option>
                                                                    <option value="ADMIN">{{adminText}}</option>
                                                                    <option value="PRESENTER">{{presenterText}}</option>
                                                                    <option value="USER">{{userText}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 pl-1 pr-1">
                                                            <div class="input-group input-group-sm">
                                                                <button class="btn btn-success btn-sm form-control" v-on:click="editRole()">
                                                                    {{submitText}}
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="userListSearch.length == 0">
                                                <div class="list-group list-group-flush" style="overflow: auto;">
                                                    <div class="table-wrapper list-group-item">
                                                        <div v-if="loader" class="text-center">
                                                            <br><br>
                                                            <roller-loader color="#007bff"/>
                                                        </div>
                                                        <div v-else>
                                                            <table class="tableList table table-responsive p-2 text-center">
                                                                <tr>
                                                                    <th style="border: none;"></th>
                                                                    <th style="border: none;">{{userIdText}}</th>
                                                                    <th style="border: none;">{{roleText}}</th>
                                                                    <th style="border: none;"></th>
                                                                </tr>
                                                                <tbody id="body">
                                                                    <tr v-for="user in userList" :style="user.checked ? 'background: #c2dbff;' : 'background: ;'" v-bind:key="user.userId">
                                                                        <td class="align-middle">
                                                                            <label class="checkboxclass mb-3">
                                                                                <input type="checkbox" :checked="user.checked" @click="preventCheckbox">
                                                                                <span v-on:click="selectUser(user)" class="checkmark"></span>
                                                                            </label>                                                                      
                                                                        </td>
                                                                        <td class="align-middle">{{user.userId}}</td>
                                                                        <td v-if="isRtl" class="align-middle">{{user.roleFa}}</td>
                                                                        <td v-else class="align-middle">{{user.role}}</td>
                                                                        <td class="align-middle">
                                                                            <span class="fa-stack fa-lg">
                                                                                <i class="fa fa-user fa-lg" :style="user.icon"></i>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>

                                                            </table>
                                                            <div v-if="userList.length == 0" class="emptyList">
                                                                <div>
                                                                    <i class="fa fa-signing fa-2x"></i>
                                                                </div> 
                                                                <div>
                                                                    <span>{{userNotFoundText}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="userListSearch.length > 0">
                                                <div class="list-group list-group-flush" style="overflow: auto;">
                                                    <div class="table-wrapper list-group-item">
                                                        <table class="tableList table table-responsive p-2 text-center">
                                                            <tr>
                                                                <th style="border: none;"></th>
                                                                <th style="border: none;">{{userIdText}}</th>
                                                                <th style="border: none;">{{roleText}}</th>
                                                                <th style="border: none;"></th>
                                                            </tr>
                                                            <tbody id="body">
                                                                <tr v-for="user in usersListResult" :style="user.checked ? 'background: #c2dbff;' : 'background: ;'" v-bind:key="user.userId">
                                                                    <td class="align-middle">
                                                                        <label class="checkboxclass mb-3">
                                                                            <input type="checkbox" :checked="user.checked" @click="preventCheckbox">
                                                                            <span v-on:click="selectUser(user)" class="checkmark"></span>
                                                                        </label>                                                                      
                                                                    </td>
                                                                    <td class="align-middle">{{user.userId}}</td>
                                                                    <td v-if="isRtl" class="align-middle">{{user.roleFa}}</td>
                                                                    <td v-else class="align-middle">{{user.role}}</td>
                                                                    <td class="align-middle">
                                                                        <span class="fa-stack fa-lg">
                                                                            <i class="fa fa-user fa-lg" :style="user.icon"></i>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div v-if="usersListResult.length == 0" class="emptyList">
                                                            <div>
                                                                <i class="fa fa-signing fa-2x"></i>
                                                            </div> 
                                                            <div>
                                                                <span>{{userNotFoundText}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mb-3 mt-4">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{rulesText}}</a>
                        <a v-bind:href="privacyURLText" class="btn btn-link" style="text-decoration: none;">{{privacyText}}</a>
                        <a href="#" class="btn btn-link" style="text-decoration: none;">{{guideText}}</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
