<!DOCTYPE html>
<html lang="fa" class="h-100" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پارسو</title>

    <link href="css/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/Users/style.css" rel="stylesheet">
    <link href="css/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/IranSans/font.css" rel="stylesheet">
    <link href="css/persian-datepicker.min.css" rel="stylesheet"/>



    <script src="js/vue.min.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/Users/script.js"></script>
    <script src="js/alasql.min.js"></script>
    <script src="js/xlsx.core.min.js"></script>
    <script src="js/xlsx.full.min.js"></script>
    <script src="js/jszip.js"></script>
    <script src="js/xlsx.js"></script>
    <script src="js/vue-plain-pagination.umd.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/persian-date.min.js"></script>
    <script src="js/persian-datepicker.min.js"></script>

</head>
<script type="text/javascript">
    $(document).ready(function() {
      $(".datePickerFa").pDatepicker({
        format: "LLLL",
        viewMode: "day",
        initialValue: false,
        initialValueType: "persian",
        autoClose: false,
        position: "auto",
        altFormat: "lll",
        altField: ".alt-field",
        onlyTimePicker: false,
        onlySelectOnDate: false,
        calendarType: "persian",
        inputDelay: 800,
        observer: false,
        calendar: {
            persian: {
            locale: "fa",
            showHint: true,
            leapYearMode: "algorithmic"
            },
            gregorian: {
            locale: "en",
            showHint: true
            }
        },
        navigator: {
            enabled: true,
            scroll: {
            enabled: true
            },
            text: {
            btnNextText: "<",
            btnPrevText: ">"
            }
        },
        toolbox: {
            enabled: true,
            calendarSwitch: {
            enabled: true,
            format: "MMMM"
            },
            todayButton: {
            enabled: true,
            text: {
                fa: "امروز",
                en: "Today"
            }
            },
            submitButton: {
            enabled: true,
            text: {
                fa: "تایید",
                en: "Submit"
            }
            },
            text: {
            btnToday: "امروز"
            }
        },
        timePicker: {
            enabled: true,
            step: 1,
            hour: {
            enabled: true,
            step: null
            },
            minute: {
            enabled: true,
            step: null
            },
            second: {
            enabled: false,
            step: null
            },
            meridian: {
            enabled: true
            }
        },
        dayPicker: {
            enabled: true,
            titleFormat: "YYYY MMMM"
        },
        monthPicker: {
            enabled: true,
            titleFormat: "YYYY"
        },
        yearPicker: {
            enabled: true,
            titleFormat: "YYYY"
        },
        responsive: true
        });
    });
</script>
<body class="h-100">
<div id="app">
    <div v-bind:class="{rtl: isRtl}" class=" h-100">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
            <div class="container">
                <a class="navbar-brand" href="./">{{s0}}</a>
                <div class="dropdown">
                    <a id="btn" onclick="myFunction()" class="dropbtn"> {{s1}} <span
                            class="fa fa-caret-down"></span></a>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="./logout">{{s2}}</a>
                    </div>
                    <a id="langbtn" href="#" v-on:click="changeLang" v-bind:style="margin"><b>{{lang}}</b></a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-3 mb-lg-0">
                    <div class="card">
                        <div class="card-body p-0 pt-3">
                            <form id="upload-form" method="POST" action="/api/user/photo" accept-charset="UTF-8" role="form"
                                  class="d-none" enctype="multipart/form-data">
                                <input type="file" id="upload-image" name="file"
                                       onchange="document.getElementById('upload-form').submit()">
                            </form>
                            <div class="userpic mb-3">
                                <img v-bind:src="userPicture" class="img-responsive avatar" alt="Avatar">
                                <a href="javascript:void(0)" onclick="document.getElementById('upload-image').click()"><!--  -->
                                    <table>
                                        <tr>
                                            <td>
                                                <i class="fa fa-photo"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </div>

                            <div class="text-center mb-3">
                                <div>
                                    <strong>{{s1}}</strong>
                                </div>
                                <div class="text-primary">
                                    <small>{{username}}</small>
                                </div>
                            </div>

                            <div class="text-center mb-3">
                                <a href="./logout" class="btn btn-danger btn-sm">
                                    <i class="fa fa-power-off"></i>
                                    {{s2}}
                                </a>
                            </div>

                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action py-2 "
                                   v-bind:href="s14">
                                    <i class="fa fa-dashboard"></i>
                                    <span>{{s20}}</span>
                                </a>
                                <a class="list-group-item list-group-item-action py-2 "
                                   v-bind:href="s15">
                                    <i class="fa fa-server"></i>
                                    <span>{{s4}}</span>
                                </a>
                                <a class="list-group-item list-group-item-action py-2 "
                                style="color: #fff; background-color: #007bff; border-color: #007bff;"
                                   v-bind:href="s16">
                                    <i class="fa fa-user"></i>
                                    <span>{{s13}}</span>
                                </a>
                                <a class="list-group-item list-group-item-action py-2 "
                                   v-bind:href="s21">
                                    <i class="fa fa-users"></i>
                                    <span>{{s5}}</span>
                                </a>
                                <a class="list-group-item list-group-item-action py-2 "
                                   v-bind:href="s39">
                                    <i class="fa fa-calendar"></i>
                                    <span>{{s6}}</span>
                                </a>
                                <a class="list-group-item list-group-item-action py-2 "
                                   v-bind:href="s22">
                                    <i class="fa fa-cogs"></i>
                                    <span>{{s7}}</span>
                                </a>
                                <a class="list-group-item list-group-item-action py-2 "
                                    v-bind:href="s32">
                                    <i class="fa fa-cog"></i>
                                    <span>{{s31}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9 page-content">
                    <div class="card">
                        <div class="card-body pb-0" style="background-color: #f8f9fa!important;">
                            <div class="container">
                                <h3 class="pb-2" v-bind:style="showS">{{U1}}</h3>
                                <div v-bind:style="showS" class="row mb-3 mt-3" style="font-size: 15px;">
                                    <table class="table table-responsive" style="padding: .5rem;">
                                        <tr class="mb-3">
                                            <th>
                                                <button class="btn btn-success btn-sm" :class="margin1" v-on:click="addUserS()">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-plus fa-stack-1x"></i>
                                                    </span>
                                                    {{U12}}
                                                </button>
                                            </th>
                                            <th>
                                                <button v-on:click="deleteAllUsers()" class="btn btn-danger btn-sm" :class="margin5">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-trash fa-stack-1x"></i>
                                                    </span>
                                                    {{U17}}
                                                </button>
                                            </th>
                                            <th>
                                                <button data-toggle="tooltip" data-placement="top" :title="U19" class="btn btn-success btn-sm" :class="margin3" v-on:click="exportUsers()">
                                                    <span class="fa-passwd-reset fa-stack">
                                                        <i class="fa fa-cloud-download fa-stack-2x"></i>
                                                    </span>
                                                </button>
                                            </th>
                                            <th :style="padding0Left">
                                                <form id="myForm" method="POST" enctype="multipart/form-data" action="/api/users/import">
                                                    <input type="file" accept=".xls, .xlsx, .csv, .ldif" ref="file" @change="selectedFile"
                                                    data-toggle="tooltip" data-placement="top" :title="U20" class="btn btn-success btn-sm" :class="margin1"  name="file" id="file">
                                                </form>
                                            </th>
                                            <th :style="padding0Right">
                                                <form method="get" action="template/users.xlsx">
                                                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" :title="U23">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-info-circle fa-stack-2x"></i>
                                                        </span>
                                                    </button>
                                                </form>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                                <div v-if="message" class="alert alert-success">{{this.message}}</div>
                                <div class="container mb-5" style="background-color: white; font-size: 15px;">
                                    <table class="table table-responsive" v-bind:style="showS" style="padding: .5rem;">
                                        <tr>
                                            <th style="border: none;">{{U2}}</th>
                                            <th style="border: none;">{{U5}}</th>
                                            <th style="border: none;">{{U14}}</th>
                                        </tr>
                                        <tbody id="body">

                                        <tr v-for="user in sortedUsers" v-bind:key="user.userId">
                                            <td>{{user.userId}}</td>
                                            <td>{{user.displayName}}</td>
                                            <td>
                                                <span v-for="group in groups">
                                                    <span v-for="member in user.memberOf" v-if="member == group.id">
                                                        <button style="padding: .2rem .2rem; color: #000000; background-color: #a9a9a975; font-size: 60%; opacity: 1;"
                                                        class="btn btn-sm" disabled>
                                                            {{group.name}}
                                                        </button>
                                                    </span>
                                                </span>
                                            </td>
                                            <td>
                                                <button style="padding: .2rem .2rem; color: #28a745; font-size: 70%;" data-toggle="tooltip" data-placement="top" :title="U22" class="btn btn-sm" v-on:click="sendResetEmail(user.userId)">
                                                    <span class="fa-passwd-reset fa-stack">
                                                        <i class="fa fa-undo fa-stack-2x"></i>
                                                    </span> 
                                                </button>
                                            </td>
                                            <td>
                                                <button style="padding: .2rem .2rem; color: #ffc107; font-size: 70%;" data-toggle="tooltip" data-placement="top" :title="U13" class="btn btn-sm" v-on:click="editUserS(user.userId)">
                                                    <span class="fa-passwd-reset fa-stack">
                                                        <i class="fa fa-pencil-square-o fa-stack-2x"></i>
                                                    </span>
                                                </button>
                                            </td>
                                            <td>
                                                <button style="padding: .2rem .2rem; color: #dc3545; font-size: 70%;" data-toggle="tooltip" data-placement="top" :title="U11" class="btn btn-sm" v-on:click="deleteUser(user.userId)">
                                                    <span class="fa-passwd-reset fa-stack">
                                                        <i class="fa fa-trash fa-stack-2x"></i>
                                                    </span>
                                                </button>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <div v-bind:style="showS"  style="direction: rtl;">
                                        <v-pagination v-model="currentPage" :page-count="total" :classes="bootstrapPaginationClasses"
                                        :labels="paginationAnchorTexts"></v-pagination>
                                    </div>

                                    <div v-bind:style="importConflictS">
                                        <h3 class="mb-3 pb-2 border-bottom">{{s33}}</h3>
                                        <ul class="nav nav-tabs nav-justified">
                                            <li class="nav-item">
                                                <h5 class="mb-2">{{s34}}</h5>
                                            </li>
                                            <li class="nav-item">
                                                <h5 class="mb-2">{{s35}}</h5>
                                            </li>
                                        </ul>
                                        <div v-for="username in usernameList">
                                            <ul class="nav nav-tabs nav-justified">
                                                <li class="nav-item">
                                                    <h6 class="mt-2">{{username.old.userId}}</h6>
                                                </li>
                                            </ul>
                                            <ul v-for="conflict in usersConflictList" v-if="conflict[0].userId === username.old.userId" class="nav nav-tabs nav-justified">
                                                <li class="nav-item">
                                                    <h6 class="mt-2">{{conflict[1].name}}</h6>
                                                    <button v-bind:id="username.old.userId + '-' + conflict[1].name + '-' + conflict[2].oldValue" v-on:click="selectConflict(username.old.userId + '-' + conflict[1].name + '-' + conflict[2].oldValue, username.old.userId + '-' + conflict[1].name + '-' + conflict[3].newValue)" class="btn btn-notSelected mb-2">{{conflict[2].oldValue}}</button>
                                                </li>
                                                <li class="nav-item">
                                                    <h6 class="mt-2">{{conflict[1].name}}</h6>
                                                    <button v-bind:id="username.old.userId + '-' + conflict[1].name + '-' + conflict[3].newValue" v-on:click="selectConflict(username.old.userId + '-' + conflict[1].name + '-' + conflict[3].newValue, username.old.userId + '-' + conflict[1].name + '-' + conflict[2].oldValue)" class="btn btn-notSelected mb-2">{{conflict[3].newValue}}</button>
                                                </li>
                                            </ul>
                                        </div>
                                        <button v-on:click="resolveConflicts()" class="btn btn-primary mt-3">{{s36}}</button>
                                        <button v-on:click="showUsers()" class="btn btn-danger mt-3">{{s17}}</button>
                                    </div>
                                    <div v-bind:style="editS">
                                        <h3 class="mb-3 pb-2 border-bottom">{{s37}}</h3>
                                        <ul class="nav nav-tabs nav-justified" style="font-size: 15px;">
                                            <li class="nav-item">
                                                <a class="nav-link" @click.prevent="setActive('info')" :class="{ active: isActive('info') }" href="#info">{{s44}}</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" @click.prevent="setActive('password')" :class="{ active: isActive('password') }" href="#password">{{s45}}</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content py-3" id="myTabContent" style="background-color: white; padding: 2%; font-size: 15px;">
                                            <div class="tab-pane fade" :class="{ 'active show': isActive('password') }" id="password">
                                                <div>    
                                                    <label>{{s45}}</label>
                                                    <div class="form-group">
                                                        <input :class='{valid:passwordValidation.valid}' @input="passwordCheck" :type="show === true ? 'text' : 'password'" class="form-control"
                                                        name="newPasswordIdman" id="newPassword" v-model="password" v-bind:placeholder="s46" v-bind:style="placeholder"
                                                        required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید" autocomplete="off">
    
                                                        <div class="strength" :class="'level_' + strengthLevel"></div>
                                                        <i class="fa fa-eye show-icon" v-bind:style="eye" v-if="show" @click="show = !show"></i>
                                                        <i class="fa fa-eye-slash hide-icon" v-bind:style="eye" v-else  @click="show = !show"></i>
                                                    </div>
                                                    <div class="form-group">
                                                        <input class="form-control" :type="showR === true ? 'text' : 'password'" v-model.lazy='checkPassword' v-bind:placeholder="s47" v-bind:style="placeholder" autocomplete="off"> 
                                                        <i class="fa fa-eye show-icon" v-bind:style="eye" v-if="showR" @click="showR = !showR"></i>
                                                        <i class="fa fa-eye-slash hide-icon" v-bind:style="eye" v-else  @click="showR = !showR"></i>
                                                    </div>
                                                    <div class="form-group">
                                                        <transition name="hint" appear>
                                                            <div v-if='!submitted' class='hints'>
                                                                <p style="box-sizing: unset;">{{s48}}</p> <br>
                                                                <p :class="{'passed' :has_number }" v-bind:style="font"><i :class="has_number ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[3].message}}</p>
                                                                <p :class="{'passed' :has_lowercase }" v-bind:style="font"><i :class="has_lowercase ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[0].message}}</p>
                                                                <p :class="{'passed' :has_uppercase }" v-bind:style="font"><i :class="has_uppercase ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[1].message}}</p>
                                                                <p :class="{'passed' :has_char }" v-bind:style="font"><i :class="has_char ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[2].message}}</p>
                                                            </div>
                                                        </transition>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="matches" v-bind:style="notSamePasswords ? 'visibility: visible;' : 'visibility: hidden;' ">
                                                            <p class="error" style="font-size: .8rem;">{{s49}}</p>
                                                        </div> <br> <br>
                                                        <button v-on:click="editPass(editInfo.userId)" :disabled="isActiveUserPassUpdate" class="btn btn-primary">{{U13}}</button>
                                                        <button v-on:click="showUsers()" class="btn btn-danger">{{s17}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" :class="{ 'active show': isActive('info') }" id="info">
                                                <div>
                                                    <div class="form-group">
                                                        <label>{{U2}}</label>
                                                        <input v-bind:value="editInfo.userId" id="editInfo.userIdU" type="text"
                                                            class="form-control" disabled>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>{{s40}}</label>
                                                        <select id="status" class="form-control">
                                                            <option id="option1" value="active">{{s41}}</option>
                                                            <option id="option2" value="disabled">{{s42}}</option>
                                                            <option id="option3" disabled value="locked">{{s43}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>{{s51}}</label>
                                                        <input id="endTime" type="text" class="datePickerFa form-control"/>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>{{U3}}</label>
                                                        <input v-bind:value="editInfo.firstName" id="editInfo.firstNameUpdate"
                                                            type="text" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>{{U4}}</label>
                                                        <input v-model="editInfo.lastName" id="editInfo.lastNameUpdate"
                                                            type="text" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>{{U5}}<span style="color: red;"> *</span></label>
                                                        <input v-bind:value="editInfo.displayName" id="editInfo.displayNameUpdate"
                                                            type="text" class="form-control" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="hidden" id="groupsUpdate" v-bind:value="groupListUpdate">
                                                        <ul>   
                                                            <li v-for="group in groups" :key="group.name">
                                                                <label class="form-check-label">{{group.name}}</label>
                                                                <label class="form-check-label" style="font-size: 80%; color: #0000008c;"> ( <small>{{group.id}}</small> ) </label>
                                                                <label class="switch">
                                                                    <input type="checkbox" v-bind:id="'groupNameId' + group.id">
                                                                    <span v-on:click="addGroupUpdate(group.id)" class="slider round"></span>  
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>{{U6}}</label>
                                                        <input v-bind:value="editInfo.mobile" id="editInfo.mobileUpdate" type="text"
                                                                pattern="09\d{9}" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>{{U7}}<span style="color: red;"> *</span></label>
                                                        <input v-bind:value="editInfo.mail" id="editInfo.mailUpdate" type="email"
                                                            class="form-control" required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>{{U9}}</label>
                                                        <textarea v-bind:value="editInfo.description"
                                                                id="editInfo.descriptionUpdate" rows="5" type="text"
                                                                class="form-control">
                                                            </textarea>
                                                    </div>
                                                    <button v-on:click="editUser(editInfo.userId)"  class="btn btn-primary">{{U13}}</button>
                                                    <button v-on:click="showUsers()" class="btn btn-danger">{{s17}}</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div v-bind:style="addS">
                                        <h3 class="mb-3 pb-2 border-bottom">{{s38}}</h3>
                                        <div class="form-group">
                                            <label>{{U2}}<span style="color: red;"> *</span></label>
                                            <input id="editInfo.userIdCreate" type="text" v-on:keyup="removeError" class="form-control"
                                            required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید">
                                            <div class="matches mt-2" v-bind:style="userCreateExists ? 'visibility: visible;' : 'visibility: hidden;' ">
                                                <p class="error" style="font-size: .8rem;">{{s50}}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>{{s40}}</label>
                                            <select id="statusCreate" class="form-control">
                                                <option id="option4" selected value="enable">{{s41}}</option>
                                                <option id="option5" value="disable">{{s42}}</option>
                                            </select>
                                        </div>

                                        <div>    
                                            <label>{{s45}}</label>
                                            <div class="form-group">
                                                <input :class='{valid:passwordValidationCreate.valid}' @input="passwordCheckCreate" :type="showCreate === true ? 'text' : 'password'" class="form-control"
                                                name="passwordCreateIdman" id="newPasswordCreate" v-model="passwordCreate" v-bind:placeholder="s46" v-bind:style="placeholder"
                                                required data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید" autocomplete="off">

                                                <div class="strength" :class="'level_' + strengthLevelCreate"></div>
                                                <i class="fa fa-eye show-icon" v-bind:style="eye" v-if="showCreate" @click="showCreate = !showCreate"></i>
                                                <i class="fa fa-eye-slash hide-icon" v-bind:style="eye" v-else  @click="showCreate = !showCreate"></i>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" :type="showRCreate === true ? 'text' : 'password'" v-model.lazy='checkPasswordCreate' v-bind:placeholder="s47" v-bind:style="placeholder" autocomplete="off"> 
                                                <i class="fa fa-eye show-icon" v-bind:style="eye" v-if="showRCreate" @click="showRCreate = !showRCreate"></i>
                                                <i class="fa fa-eye-slash hide-icon" v-bind:style="eye" v-else  @click="showRCreate = !showRCreate"></i>
                                            </div>
                                            <div class="form-group">
                                                <transition name="hint" appear>
                                                    <div v-if='!submittedCreate' class='hints'>
                                                        <p style="box-sizing: unset;">{{s48}}</p> <br>
                                                        <p :class="{'passed' :has_numberCreate }" v-bind:style="font"><i :class="has_numberCreate ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[3].message}}</p>
                                                        <p :class="{'passed' :has_lowercaseCreate }" v-bind:style="font"><i :class="has_lowercaseCreate ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[0].message}}</p>
                                                        <p :class="{'passed' :has_uppercaseCreate }" v-bind:style="font"><i :class="has_uppercaseCreate ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[1].message}}</p>
                                                        <p :class="{'passed' :has_charCreate }" v-bind:style="font"><i :class="has_charCreate ? 'fa fa-check' : 'fa fa-times'"></i>{{rules[2].message}}</p>
                                                    </div>
                                                </transition>
                                            </div>
                                            <div class="form-group">
                                                <div class="matches" v-bind:style="notSamePasswordsCreate ? 'visibility: visible;' : 'visibility: hidden;' ">
                                                    <p class="error" style="font-size: .8rem;">{{s49}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>{{s51}}</label>
                                            <input id="endTimeCreate" type="text" class="datePickerFa form-control"/>
                                        </div>

                                        <div class="form-group">
                                            <label>{{U3}}</label>
                                            <input id="editInfo.firstNameCreate" type="text"
                                                   class="form-control" placeholder="Ali">
                                        </div>
                                        <div class="form-group">
                                            <label>{{U4}}</label>
                                            <input id="editInfo.lastNameCreate" type="text"
                                                   class="form-control" placeholder="Amiri">
                                        </div>
                                        <div class="form-group">
                                            <label>{{U5}}<span style="color: red;"> *</span></label>
                                            <input id="editInfo.displayNameCreate" type="text" class="form-control" required 
                                            data-toggle="tooltip" data-placement="top" title="لطفا این قسمت را تکمیل کنید" placeholder="علی امیری">
                                        </div>

                                        <div class="form-group">
                                            <input type="hidden" id="groupsCreate" v-bind:value="groupListCreate">
                                            <ul>   
                                                <li v-for="group in groups" :key="group.name">
                                                    <label class="form-check-label">{{group.name}}</label>
                                                    <label class="form-check-label" style="font-size: 80%; color: #0000008c;"> ( <small>{{group.id}}</small> ) </label>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span v-on:click="addGroupCreate(group.id)" class="slider round"></span>  
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="form-group">
                                            <label>{{U6}}</label>
                                            <input id="editInfo.mobileCreate" type="text"
                                                   class="form-control" placeholder="09xxxxxxxxx" pattern="09\d{9}">
                                        </div>
                                        <div class="form-group">
                                            <label>{{U7}}<span style="color: red;"> *</span></label>
                                            <input id="editInfo.mailCreate" type="email" class="form-control" required data-toggle="tooltip" 
                                            data-placement="top" title="لطفا این قسمت را تکمیل کنید" placeholder="Ali.Amiri@example.com">
                                        </div>
                                        <div class="form-group">
                                            <label>{{U9}}</label>
                                            <textarea id="editInfo.descriptionCreate"
                                                      rows="5" type="text" class="form-control">
                                                </textarea>
                                        </div>
                                        <button v-on:click="addUser()" :disabled="isActiveUserPassCreate" class="btn btn-primary">{{s18}}</button>
                                        <button v-on:click="showUsers()" class="btn btn-danger">{{s17}}</button>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <footer class="mb-3 mt-4">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-link" style="text-decoration: none;">{{s10}}</a>
                    <a v-bind:href="s30" class="btn btn-link" style="text-decoration: none;">{{s11}}</a>
                    <a href="#" class="btn btn-link" style="text-decoration: none;">{{s12}}</a>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
